

<div class="btn delete_messsage" tbl="<%=table_name%>" > Delete</div>
<div class="btn refresh_messsage" tbl="<%=table_name%>" > Refresh</div>

<input type="text" id="search_<%=table_name%>" class="search_messages pull-right" tbl="<%=table_name%>" placeholder="Search messages">

<table class="table table-bordered table-striped table-hover" tbl="<%=table_name%>" id="<%=table_name%>_table" >
	<thead>
		<tr>
			<th><input type="checkbox" class="master_check"  tbl="<%=table_name%>"></th>
			<th>ID </th>
			<th>Type</th>
			<th>Sender </th>
			<th>Message</th>
			<th>Time</th>
			
		</tr>
	</thead>

	<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
	</tbody>
		
</table>
