

 <button class="btn delete_messsage" tbl="<%=table_name%>"><i  title="Delete Selected" class="action_icon icon-trash"></i></button>



 <button class="btn refresh_messsage" tbl="<%=table_name%>"><i  title="Delete Selected" class="action_icon icon-refresh"></i></button>


<div class="input-append pull-right">
	<input type="text" id="search_<%=table_name%>" class="search_messages" tbl="<%=table_name%>" placeholder="Search <%=table_name%>">
  <span class="add-on">.<i title="Search <%=table_name%>" class="action icon icon-search"></i></span>
</div>



<table class="table table-bordered table-striped table-hover" tbl="<%=table_name%>" id="<%=table_name%>_table" >
	<thead>
		<tr>
			<th><input type="checkbox" class="master_check"  tbl="<%=table_name%>"></th>

			<th> <i class="action icon-tag"></i> 
				Ref</th> 
			<th> <i class="action icon-user"></i> 
				Sender </th>

			<th> <i class="action icon-envelope"></i> 
				Message</th>
				 
			<th> <i class="action icon-time"></i> 
				Time</th>
			
		</tr>
	</thead>

	<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
	</tbody>
		
</table>
