<%#= stylesheet_link_tag "p2p/messages" %>
<%= javascript_include_tag "p2p/messages" %>

<div class="row" id="message_container">

<div id="overlay"></div>


<div id="message_content" class="span11">

		
<div class="tabbable " id="message_side_menu">	
	<div class="row">
		<div class="span2 pull-left" id="message_left_menu">

		  <ul class="nav nav-list">
		    <a href="#compose" data-toggle="tab" ><li id="compose_mail" >Compose</li></a>
	 		
		    <li class="active"><a href="#inbox" data-toggle="tab">
		    	<% unreadcount = @inbox.count %>
		    	Inbox
		    	<span id="inbox_count">
		    		<%= (unreadcount > 0) ?  "(#{unreadcount.to_s})" : "" %>
		    	</span>
		        </a></li>
	            

		    <li><a href="#sent" data-toggle="tab">Sent</a></li>
		    <li><a href="#delete" data-toggle="tab">Trash</a></li>

		  </ul>
		</div>

		<div class="span9 pull-left " id="box_content">

			<div class="tab-content">
			    <div class="tab-pane " id="compose">
			    	
			    	<%= render "p2p/messages/compose" ,:message => @message ,:user_id => current_user.id ,:receiver => nil ,:item => "" %>  <div> </div>
			    </div>
			    
			    <div class="tab-pane active" id="inbox">
			    	<%= render "/p2p/messages/msg_table",:table_name => "inbox" %>
			     </div>
					
				 <div class="tab-pane" id="sent">
			    	<%= render "/p2p/messages/msg_table" ,:table_name => "sentbox" %> 
			      </div>

				 <div class="tab-pane" id="delete">
			    	<%= render "/p2p/messages/msg_table" ,:table_name => "deletebox" %> 
			      </div>

			</div>

			   <div class="row" id="show_msg">
				
			   </div> 
		</div>
	</div>
</div>
<script>

	$(document).ready(function(){
		oInboxTable = $('#inbox_table').dataTable({
		  "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
		  'sScrollY':"340px",
          "sAjaxSource": '/p2p/getmessages/inbox' ,
          "aaSorting":[],
          "bScrollCollapse": false,
          "bFilter":false,
       	  "bSort": false,
          "iDisplayLength" : 10,
          "bAutoWidth": false,
          "sPaginationType": "bootstrap",
		  "bProcessing": true,
    	  "bServerSide": true,
    	  "bInfo":false

		});

		oSentBoxTable  = $('#sentbox_table').dataTable({
		  "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
		  'sScrollY':"340px",
          "aaSorting":[],
          "bScrollCollapse": false,
		  "sAjaxSource": '/p2p/getmessages/sentbox' ,
          "bFilter":false,
       	  "bSort": false,
          "iDisplayLength" : 10,
          "bAutoWidth": false,
          "sPaginationType": "bootstrap",
		  "bProcessing": true,
    	  "bServerSide": true
		});

		oDeleteBoxTable  = $('#deletebox_table').dataTable({
		  "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
		  'sScrollY':"340px",
          "aaSorting":[],
          "bScrollCollapse": false,
		  "sAjaxSource": '/p2p/getmessages/deletebox' ,
          "bFilter":false,
       	  "bSort": false,
          "iDisplayLength" : 10,
          "bAutoWidth": false,
          "sPaginationType": "bootstrap",
		  "bProcessing": true,
    	  "bServerSide": true
		});


    	$('.master_check').on("click",function(){
    		var tbl=$("#" + $(this).attr("tbl")+ "_id");
    		tbl.children("tbody tr td .msg_check").attr("checked","checked");

    	});

		//set css for the clickable column	
		$('.showmessage').live('click', function () {
			console.log('hello');
			var that = $(this);

			$('.tab-pane').fadeOut(100);
			$("#show_msg").fadeIn(100);
			return false;

    	});


	});

</script>

	<div class="clearfix"></div>
</div>

</div>