<%= javascript_include_tag "p2p/messages" %>
<%= javascript_include_tag "global/jquery.ui.core" %>
<%= javascript_include_tag "global/jquery.ui.widget" %>
<%= javascript_include_tag "global/jquery.ui.accordion" %>

<script type="text/javascript">
$(document).ready({
$("#inbox").accordion();
});
</script>
<h2><%= current_user.name%> Messages</h2>


		
<div class="tabbable">
	<div class="row">
	<div class="span2">
	  <ul class="nav nav-list">
	    <li class="active"><a href="#compose" data-toggle="tab" >Compose</a></li>
	    <li><a href="#inbox" data-toggle="tab">Inbox </a>
            
             <ul class="nav" id="accordian">
            <li><a href="#sell_requests" data-toggle="tab" >Sell Requests</a></li>
	    	<li><a href="#buy_requests" data-toggle="tab" >Buy Requests</a></li>
	    	<li><a href="#admin_messages" data-toggle="tab" >ADMIN Messages</a></li>
	    	</ul>
           
	    </li>
	    <li><a href="#sent" data-toggle="tab">Sent </a></li>
	    <li><a href="#deleted" data-toggle="tab">Deleted </a></li>
	  </ul>
	</div>
	<div class="span10">

		<div class="tab-content">
	    <div class="tab-pane active" id="compose">
	    	<%= render :partial=> "compose" %><div> </div>
	    </div>
	    
	    <div class="tab-pane " id="inbox">
	    	 <%= render :partial=> "inbox" %>

	     </div>
			
		 <div class="tab-pane" id="sent">
	    	<%= render :partial=> "sent" %> 
	      </div>
			
		<div class="tab-pane " id="deleted">
			<!--	 -->
	    </div>
	     <div class="tab-pane" id="sell_requests">

	      </div>
	      <div class="tab-pane" id="buy_requests">

	      </div>
	      <div class="tab-pane" id="admin_messages">

	      </div>
		</div>
		<div class="row" id="show_msg">
			
		</div>
	</div>
</div>
</div>

