<!--Search filter menu cod -->
<div id="pull_here" class="btn btn-info">Filters </div>
<div id="overlay"> <img src="/assets/ajax_small.gif" /> Loading..!</div>
<div id="dummy_filter_holder">
	<div id="filter_holder_title">Filters</div>


	<!-- overlay to be displayed during filter request -->
	<% item_condition_res = category.items.by_location_or_allover(p2p_get_user_location).select("distinct p2p_items.condition").where('p2p_items.approveddate is not null and ( (p2p_items.totalcount - p2p_items.soldcount ) > 0  )').order('p2p_items.condition asc') %>
	<% if item_condition_res.count > 0 %>
		<div class="filter_title"> Condition </div>
		<div class="filters_value">
			<% item_condition_res.each do |itm| %>
				<div class="spec-filter">

					<% checked = "" %>
					<% if @view_filter_set.include?("condition")  and @view_filter_set["condition"].include?(itm.condition) %>
						<% checked = "checked" %>
					<% end %>

					<input  class="spec_filter_check" type="checkbox"  spec-name="condition" spec-value="<%=itm.condition%>"
					<%= checked %> >
					<span class="spec_filter_check_label" <%=checked %> ><%= itm.condition %> </span>

				</div>
			<% end %>
		</div>
	<% end %>
		<!-- price range -->

	<% prices = (category.items.by_location_or_allover(p2p_get_user_location).select("distinct p2p_items.price").order('p2p_items.price asc')).pluck('price') %>

  <% item_model_res = category.products.select("distinct p2p_products.name,p2p_products.id").order('p2p_products.name asc').where('p2p_products.id in (select product_id from p2p_items where p2p_items.approveddate is not null and ((p2p_items.totalcount - p2p_items.soldcount ) > 0 ) )') %>
	<% if item_model_res.count > 0 %>
		<div class="filter_title">

        	<%if category.id == 1 %>
								Book Genere
					<% elsif category.id == 13 %>
								Platform
					<% elsif category.id == 14 %>
								Cloth Style
					<% else %>
								Brand
					<% end %>

		 </div>

	<!-- show only if more than 11..:) -->

	<% if item_model_res.count  >= 11 %>
		<input type="text" class="filter_category_input" placeholder="Filter Category">
	<% end %>





		<div class="filters_value">
			<% item_model_res.each do |prod| %>
				<div class="spec-filter">

					<% checked = "" %>
					<% if @view_filter_set.include?('model')  and @view_filter_set["model"].include?(prod.id.to_s) %>
						<% checked = "checked" %>
					<% end %>

					<input  class="spec_filter_check" type="checkbox"  spec-name="model" spec-value="<%=prod.id%>" <%=checked%> >	<span class="spec_filter_check_label"><%= prod.name %> </span>
				</div>
		<% end %>
	</div>
	<% end %>


	<% if prices.count > 0 %>
		<div class="filter_title"> Price </div>
		<div class="row">

					<% checked = "[0,#{(prices.max.to_i + (50 - ( prices.max.to_i  % 50) ) )}]" %>

					<% if @view_filter_set.include?('price') %>
						<% checked = "[#{@view_filter_set['price'][0]},#{@view_filter_set['price'][1]}]" %>
					<% end %>

		<span class="span1"></span><input type="text" class="span2" value="" data-slider-min="50"  spec-name="price" spec-value="" data-slider-max="<%= (prices.max.to_i + (50 - ( prices.max.to_i  % 50) ) ) %>" data-slider-step="50" data-slider-value="<%=checked%>" id="price_slider">
	</div>
	<% end %>

	<% category.specs.where(:show_filter => 1).each do |spec|%>
	<% next if spec.itemspecs.select("distinct value").joins(:item).where("p2p_item_specs.value !='' and p2p_items.approveddate is not null and ( (p2p_items.totalcount - p2p_items.soldcount ) > 0 )  ").count == 0 %>

	<div class="filter_title"> <%= spec.name %>  </div>

	<!-- show only if more than 11..:) -->
	<% if (spec.itemspecs.select(" distinct value").where("value !=''").count )  >= 11 %>
		<input type="text" class="filter_spec_input" placeholder="Filter <%=spec.name%>">
	<% end %>

	<div class="filters_value">

		<% spec.itemspecs.select("distinct value").joins(:item).where("p2p_item_specs.value !='' and p2p_items.approveddate is not null and ( (p2p_items.totalcount - p2p_items.soldcount ) > 0 )  ").order('value asc').each do |itemspec| %>
		<div class="spec-filter" >

					<% checked = "" %>
					<% if @view_filter_set.include?(spec.name)  and @view_filter_set[spec.name].include?(itemspec.value) %>
						<% checked = "checked" %>
					<% end %>

			<input class="spec_filter_check" type="checkbox" spec-name="<%=spec.name%>" spec-value="<%=itemspec.value%>" <%=checked%> >		<span class="spec_filter_check_label"><%= itemspec.value	%></span>
		</div>
		<% end %>
	</div>
	<% end %>
	<li class="divider"></li>

	<!-- Template for the search results -->
	<!-- load only for inital request and not for load more-->
	<script type="template" id="item_template">
	<%% if ( window.page_num == 2 ) { %>
		<ul class="thumbnails" id="filter_replace">
		<%% } %>
		<%% _.each(data["res"],function(elm){%>
			<li class="span3 aitem_holder">
				<div class="thumbnail">
				<a href="<%%=elm.url%>">
					<div class="aitem_left">
					<img src="<%%= elm.img %>" >
					</div>
				</a>
				<div class="aitem_right">
				<a href="<%%=elm.url%>">
					<div>
						<div class="item_title"><%%=elm.title%></div>
					</div>
				</a>
				<div class="item_category"><a href="<%%= elm.prod_url%>"><%%= elm.prod  %></a><a href="<%%=elm.cat_url%>"><%%= elm.cat %></a>
				</div>
				<div class="item_condition"><%%=elm.condition%></div>
				<div class="item_price"><del>&#2352;</del> <%%=elm.price %>
				</div>
				<div class="buy_now"><a href="<%%=elm.url%>">Buy Now</a></div>
				<div class="clearfix"></div>
				</div>
			</li>
			<%% });%>
		<div id="load_more_content"></div>
		<%% if ( (window.page_num == 2  ) && data.next == 1 )  { %>
			</ul>
			<div id="load_more">
			<div class="btn btn-primary">Load More.....</div>
			</div>
			<%% }%>
			</script>
			<script>
			window.category="<%=category.name%>";

			window.filterurl= "<%=make_category_url(category)%>filters";

			</script>

			<%= javascript_include_tag 'p2p/browse_filter' %>
</div>



<a href="#" class="scrollup">Scroll Top</a>
