

<%= javascript_include_tag 'p2p/index_manifest'%>

		<!-- display button if browse and hide the menu -->
		<% if  defined?(dropdown) %>
			<span class=" btn browse_top dropdown">
			<a class="dropdown-toggle "  href="#" data-toggle="dropdown" id="browse_button"><i class="icon-list"></i> Browse P2P</a>
		<% else %>
			<li class="nav-header browse_top "><i class="icon-list"></i> Browse P2P </li>
		<% end %>

		<!-- display button if browse and hide the menu -->
		<% if  defined?(dropdown) %>
				<ul class="dropdown-menu">
		<% end %>


		<% P2p::Category.where("category_id is null").each do |cat|%>


				<!-- mark active element on page -->
				<% if defined?(active_page) and cat.name == active_page %>

						<!-- submenu if haveing categories -->
					<% if cat.subcategories.count > 0 %>
						<li class="active dropdown-submenu" >
					<%else%>
						<li class="active">
					<%end%>

				<% else %>
						<!-- submenu if haveing categories -->
					<% if cat.subcategories.count > 0 %>
						<li class="dropdown-submenu" >
					<%else%>
						<li>
					<%end%>


				<% end %>

				<a  href="<%=make_category_url(cat)%>">
						<%= cat.name %>
					</a>

				<% if cat.subcategories.count > 0 %>
				<% else %>
					</li>
				<% end %>

						<!-- submenu if haveing categories -->
				<% if cat.subcategories.count > 0 %>
				    <ul class="dropdown-menu">
				<%end%>



				<% cat.subcategories.all.each do |scat| %>

					<!-- mark active element on page -->
					<% if defined?(active_page) and scat.name == active_page %>
						<li class="active">
					<% else %>
						<li>
					<% end %>

						<a  href="<%=make_category_url(scat)%>">
							<%= scat.name %>
						</a>

					</li>
				<% end %>



				<% if cat.subcategories.count > 0 %>
				    </ul>
				<%end%>

				<% if cat.subcategories.count > 0 %>
					</li>
				<% else %>

				<% end %>
			<% end %>

		<!-- display button if browse and hide the menu -->
    	<% if  defined?(dropdown) %>
			</ul>
			</span>
		<% end %>

