<%= javascript_include_tag 'p2p/inventory' %>
<div class="itemsRow">
  <%= will_paginate(items , :renderer => BootstrapPagination::Rails) unless items.nil? %>
  <br/><br/>
  <ul class="thumbnails">
    <%if items.count == 0 %>
      <br/>
      <br/>
      <br/>
      <br/>
      <center class="error"> No Items found..! </center>
    <% else %>
      <% items.each do |p|%>

        <% approve_class = ['alert-info','alert-error','alert-success' ,'']%>

        <% if params.has_key?(:query) and params[:query] == "sold" and p.soldcount > 0 %>
          <% apprval_class = 3 %>
        <% elsif !p.approveddate.nil? %>
          <% apprval_class = 2 %>
        <%elsif !p.disapproveddate.nil? %>
          <% apprval_class = 1 %>
        <% else %>
          <% apprval_class = 0 %>
        <%end%>

        <li class="span3 aitem_holder">
          <div class="thumbnail  alert <%= approve_class[apprval_class] %>">
            <div class="inventory_actions pull-right">
              <% if session[:isadmin] && p.disapproveddate.nil? %>
                 <div class="disapprove_item pull-right" itemid="<%=p.id%>"><i title="Disapprove listing" class="action icon icon-ban-circle"></i></div>
              <% end %>
              <% if session[:isadmin] && p.approveddate.nil? %>
                <div class="approve_item pull-right" itemid="<%=p.id%>"><i title="Approve Listing" class="action icon icon-ok"></i></div>
              <% end %>

              <% if p.solddate.nil? %>
                <div class="delete_item pull-right" itemid="<%=p.id%>"></div>
              <% end %>

            </div>
            <a href="<%= make_item_url(p) %>">
              <div class="aitem_left">
                  <img src="<%=p.get_image(1,:search)[0][:url]%>" >
              </div>
            </a>
            <div class="aitem_right">
              <a href="<%=  make_item_url(p) %>">
                <div  title="<%= p.title %>">
                  <div class="item_title"><%= p.title.truncate(20).titleize  %></div>
                </div>
              </a>
              <div class="item_category">
                <a href="<%= make_product_url(p.product) %>">
                  <%= p.product.name  %>
                </a>
                <a href="<%= make_category_url(p.category) %>">
                  <%= p.category.name  %>
                </a>
              </div>
              <div class="item_condition"><%=URI.decode(p.condition) %></div>
              <div class="item_price"><del>&#2352;</del> <%=p.price %>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="overlay_seller"> <%= p.user.user.name %><br><%= "(" +  p.user.user.email  + ")" %>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
  <div id="disapprove_reason_modal" class="modal hide fade span9" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Enter Reason for Disapprove</h3>
    </div>
    <div class="modal-body span7">
      <div class="control-group">
        <label class="control-label">Reason</label>
        <div class="controls">
          <input type="text" id="reason_disapprove" class="input text" >
        </div>
        <div class="controls">
          <button class="btn " id="disapprove_item_with_reason">Disapprove</button>
        </div>
      </div>
    </div>
  </div>
