<%= javascript_include_tag 'p2p/inventory' %>
  <div class="itemsRow">
      <%= will_paginate(items) unless items.nil? %>
        <ul class="thumbnails">    

          <%if items.count == 0 %>

              <br/>
              <br/>
              <br/>
              <br/>
              <center class="error"> No Items found..! </center>
              
          <% else %>


                          <% items.each do |p|%>

                    <% approve_class = ['alert-info','alert-error','alert-success' ,'']%>

                        <% if !p.solddate.nil? %>
                          <% apprval_class = 3 %>
                        <% elsif !p.approveddate.nil? %>
                            <% apprval_class = 2 %>
                        <%elsif !p.disapproveddate.nil? %>
                          <% apprval_class = 1 %>
                        <% else %>
                          <% apprval_class = 0 %>

                        <%end%>


                      
                        <li class="span2  pull-left ">
                          



                            <div class="thumbnail alert <%= approve_class[apprval_class] %>">

                            <% if p2p_current_user.id ==1  %>
                              <% if p.deletedate.nil? %>
                                
                                <% if p.disapproveddate.nil? %>
                                  <div class="disapprove_item pull-right" itemid="<%=p.id%>"><i title="Disapprove listing" class="action icon icon-ban-circle"></i></div>
                                <% end %>
                                
                                <% if p.approveddate.nil? %>
                                  <div class="approve_item pull-right" itemid="<%=p.id%>"><i title="Approve Listing" class="action icon icon-ok"></i></div>
                                <% end %>

                                <% end %>
                            <% end %>

                            <div class="delete_item pull-right" itemid="<%=p.id%>"></div>


                            <div class="clearfix"></div>

                              
                              <a href="/p2p/<%=p.product.category.name%>/<%=p.product.name%>/<%=p.title%>">                  
                                <div class="search_image">
                                  <img src="<%=p.get_image(1,:search)[0][:url]%>" >
                                </div>
                              <div class="caption">
                                <b><%= p.title.slice(0,10)  %></b>
                                <p>

                                  <ul>
                                    <li><del>&#2352;</del> <%=p.price %></li>
                                    <li><del>&#2352;</del> <%=p.condition %></li>
                                    
              <!--                              <li>Attribute 2</li>
                                    <li>Attribute 3</li>
              -->                              
                                  </ul>


                                </p>



                              </div>
                            </div>
                          </a>
                        </li>
                

                    <% end %>


          <% end %>

        </ul>


  </div>
