
<%= stylesheet_link_tag "items/items_manifest"%>


<div class="main_wrapper">
	<div class="row">
		<div class="span6">
			<ul class="breadcrumb">


				<% if itemid.empty? %>
					  <li><a href="/p2p">Home</a> <span class="divider">/</span></li>
					  <li> New Listing <span class="divider">/</span></li>
					  <li> New Listing <span class="divider">/</span></li>			  
					  <li class="active action_icon"  data-name="title"  title="Enter Title" data-emptytext=""  id="title"><%=title.titleize  %></li>

				<% else %>

				  <li><a href="/p2p">Home</a> <span class="divider">/</span></li>
				  <li><a href="/p2p/<%=category%>"><%=category.titleize %></a> <span class="divider">/</span></li>
				  <li><a  href="/p2p/<%=category%>/<%=brand%>"><%=brand.titleize %></a> <span class="divider">/</span></li>			  
				  <li class="active  action_icon"  data-name="title"  title="Enter Title"  id="title"> <%=link_to title.titleize ,{:cat => category ,:prod => brand ,:item => title } %> </li>
				<% end %>

			</ul>
		</div>
		<div class="span6">

			<% if ownerid.empty?  %>


	
			<!-- New Form -->
		  	<div class="btn-group" id="listing_action">
			  <button class="btn action_icon"   title="Remove Listing"><i  class=" icon-trash"></i></button>`	

			  <button class="btn action_icon"  title="Edit Listing"   id="enable">
			  			<i  class=" icon-pencil"></i>
			  </button>

      	</div> 


			<% elsif p2p_current_user.nil? %>

					<!-- Buyer View -->
				 <div class="btn-group" id="listing_action">

			 		<!-- contact seller modal  -->
			 		<!-- Button to trigger modal -->

			 		<% if defined?(paytype) and paytype == "2" %>

						<a href="#head_login_modal" role="button" class="btn btn-primary " data-toggle="modal">Contact Seller</a>
						 

					<% elsif paytype == "1" %>

				 		<a class="btn btn-primary action_icon" href="#head_login_modal" data-toggle="modal" title="Receive by courier"><i class="icon-white icon-envelope"> </i> Buy Now </a>

					<% elsif paytype == "3" %>

				 		<button class="btn btn-primary action_white"  title="Best way"> <i class="icon-white icon-star"></i> Buy via sociorent </button>

					<% end %>
				</div>

					

			<% elsif ownerid != p2p_current_user.id.to_s  %>		
					
					<!-- Buyer View -->
				 <div class="btn-group" id="listing_action">

			 		<!-- contact seller modal  -->
			 		<!-- Button to trigger modal -->

			 		<% if defined?(paytype) and paytype == "2" %>

							<a href="#contact_seller_modal" role="button" class="btn btn-primary" data-toggle="modal"  ><i class="icon-white icon-user">Contact Seller</a>
						 
						<!-- Modal -->
						<div id="contact_seller_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contact_seller_modallLabel" aria-hidden="true">
						  <div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						    <h3 id="contact_seller_modalLabel">Send a Buy Request to seller</h3>
						  </div>
						  <div class="modal-body">
						  	Seller aggres to <%=payinfo if defined?(payinfo)%>
						    <p><%= render 'p2p/messages/compose' , :ownerid => ownerid ,:itemid => itemid ,:message => requestmessage %></p>
						  </div>
						</div>
	
					<% elsif paytype == "1" %>

				 		<button class="btn btn-primary " >Buy via courier </button>

					<% elsif paytype == "3" %>

				 		<button class="btn btn-primary " >Buy via sociorent <i class="icon-white icon-star"></i></button>

					<% end %>
			      </div>

			<% elsif ownerid == p2p_current_user.id.to_s %>
				  <!-- Seller View -->

			<div class="btn-group" id="listing_action">
				<!-- check if the item is sold or not -->

				<% unless itemid.empty? %>

					<% if solddate.nil?  %>

						<% if !approvedate.to_s.nil? %>

					  			<a href="/p2p/sold/<%= itemid %>" class=" btn"   > <i class="  action_icon  icon-shopping-cart" title="Mark this listing as sold"></i> Mark as sold</a>
						<% else %>
							
					  			<a href="#" class="  btn"  > <i class=" action_icon icon-shopping-cart"  title="Listing has not been approved yet"></i> Waiting for approval</a>
				  	
					  <% end %>

					<% else %>
						<span class="btn  "> <i class="action_icon" title="On <%= solddate.strftime("%d-%b-%C%y") %>" >  Listing Sold </i> </span>
					<%end %>					


					

					<% if deletedate.nil? %>
					  <button class="btn  "  id="delete_button"  itemid="<%=itemid%>"><i  class=" action_icon icon-trash" title="Remove Listing"></i></button>
					<%end %>

				<% else %>

					  <button class="btn "  ><i   class="action_icon icon-list" title="New Listing"></i>New Listing</button>

				<% end %>				

				
				  <button class="btn " id="enable"><i  class="action_icon icon-pencil"  title="Edit Listing"></i></button>
				  
				  <button class="btn btn-success hide " id="save"  ><i  class=" action_icon icon-white icon-ok-circle" title="Save changes"></i></button>

				  <button class="btn btn-danger hide " id="cancel" ><i  class=" icon-white icon-remove-circle action_icon" title="Cancel changes"></i></button>


		          	<!-- view Request messages modal  -->
			 		<!-- Button to trigger modal -->
			 	<% unless itemid.empty? %>
					<a href="/p2p/messages/#<%=title%>" role="button" class="btn " data-toggle="modal" ><i  d="reqcount_<%=itemid%>"  class="action_icon icon-envelope" title="View Messages for this listing">  </i>  <%=reqcount if defined?(reqcount) %> </a>
				<% end %>

				<% unless itemid.empty? %>
				  <button class="btn" id="viewcount" ><i  title="Number of view of this listing" class="action_icon icon-eye-open"></i><%= viewcount %></button>
				<% end %>

				  	 <% if paytype == "1" %>
				  	 	<a href="/p2p/itempayment<%=itemid%>" class="btn "  >  <i class="action_icon icon icon-gift" title="Send by Courier"></i> Payment</a>
				  	 <%elsif paytype == "2"%>
				  	 	<a href="/p2p/itempayment<%=itemid%>" class="btn "  > <i class="action_icon icon icon-user" title="Send by Courier"></i> Payment</a>
					<%elsif paytype == "3"%>				  	 	
				  	 	<a href="/p2p/itempayment<%=itemid%>" class="btn "  >  <i class="action_icon icon icon-star" title="Send by Courier"></i> Payment</a>

				  	 <% end %>




				 </div>	      		

			  <% end %>

			  <% if !itemid.empty? and !p2p_current_user.nil? and p2p_current_user.id == 1 %>

			  		<% if approvedate.nil?  %>
	  				  <button class="btn "  id="approve" itemid="<%=itemid%>"><i  class="action_icon icon-thumbs-up" title="Approve this listing"></i></button>
	  				<% end %>

	  				<% if disapproveddate.nil? %>
	  				  <button class="btn " id="disapprove"   itemid="<%=itemid%>"><i  class="icon-thumbs-down action-icon" title="DisApprove this listing"></i></button>
	  				<% end %>

			  <%end %>


			</div> <!-- span6 action buttons-->

		</div>
	</div>
	<div class="row">
		<div class="span4">
			<ul class="thumbnails">
			  <li class="span4">
          <div class="thumbnail">

		<% if !current_user.nil? and (ownerid == p2p_current_user.id.to_s) %>


          	<div id="upload_pic" title="Upload more photos" class="action_icon pull-right hide">

	        <!-- image upload form -->



	  <%= form_tag  "/p2p/items", :multipart => true, :id => "fileupload"   do %>
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->

    		<div id="form_temp"></div>
          <%= file_field_tag "img[]" ,:id=> "image_upload" ,:multiple  => 'true' ,:disabled => true  %>


  	<% end %>

		<i class="icon-upload"></i>Upload


		<i id="clearuploads" class="icon-repeat action_icon pull-right" title="clear"></i>
		

		<div class="clearfix"></div>

</div>



        <% end %>

        	<div id="view_image_holder">
            	<img src="<%= viewimage[0][:url] %>" imgid="<%= viewimage[0][:id] %>" alt="Item pic" id="view_image">
            </div>
            <div class="caption thumb_holder">
              <ul class="thumbnails">

        		<% i = 0 %>
				<% thumbimage.each do |img| %>
		
	              	<li class="thumbs">
						<% if !current_user.nil? and (ownerid == p2p_current_user.id.to_s) %>

							<% unless itemid.empty? %>
	              				<i class="icon-remove pull-right remove_image hide"></i>
	              			<% end %>

	              		<% end %>

	              		<img src="<%= img[:url]%>"  imgid="<%= img[:id] %>" alt="" id="image_<%= img[:id]%>" class="thumb_img" viewimage="<%= viewimage[i][:url] %>">
	              	</li>
	              <% i += 1 %>
				<% end %>

              </ul>
            </div>
          </div>
        </li>
			</ul>
		</div>



		<div class="span6">

			<!-- category and subcategory container -->


			<table class="table table-bordered table-striped" id="table_specs">
            <colgroup>
              <col class="span1">
              <col class="span7">
            </colgroup>
            
             <thead>
              <tr>
                <th>Specification</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
             	

			<tr>
				<td>Category </td>
				<td> <span class="canEdit action_icon" id="category" data-type="select" data-original-title="Select Category" data-source="/p2p/getcategories" ><%=category%></span></td>
			</tr>

			<tr>
				<td>Model </td>
				<td>
					<span id="model" class="action_icon" title="Select Model" data-type="select" ><%=brand%></span>
				</td>

			</tr>

            <!-- Price -->
	          <tr>
	            <td>
	              Price
	            </td>
	            <td>Rs.
	             <span class="canEdit action_icon" data-name="username"  title="Enter Price"  specname="price" specid="0" id="price"> <%= price  unless price.nil? %> </span>
	            </td>
	          </tr>

            <!-- Location -->
	          <tr>
	            <td>
	             <span class="highlight"> Condition</span>
	            </td>
	            <td>
	             <span class="canEdit highlight action_icon" data-name="username" data-type="select" data-source="['Brand New','Like New','Used','Old']" title="Enter Condition"  specname="condition" specid="0" id="condition"> <%= condition.titleize %> </span>
	            </td>
	          </tr>

            <!-- Location -->
	          <tr>
	            <td>
	              Location
	            </td>
	            <td>
	             <span class="canEdit action_icon" data-name="username"  data-type="select" data-source="/p2p/getcities"  title="Enter Location"  specname="location" specid="0" id="location"> <%= location.titleize %> </span>
	            </td>
	          </tr>


	          <!-- load all spec -->
			<% unless spec.empty? %>
				<% unless itemid.empty? %>
					<% spec_used = [] %>
					<% spec.each do |aspec| %>
						<% spec_used.push(aspec.spec.id)%>
			              <tr class="specs">
			                <td>
			                  <%= aspec.spec.name %>
			                </td>
			                <td>
			                 <span class="canEdit action_icon" data-name="username"  title="Enter <%= spec.name %>"  specname="<%= aspec.spec.name %>" specid="<%= aspec.spec.id.to_s %>" id="item_<%= aspec.spec.id %>"> <%= aspec.value.titleize  unless aspec.value.nil? %> </span>
			                </td>
			              </tr>
			         <% end %>
		         <% end %>

		         <%if spec_used.size < spec.size %>
			          <tr>
			            <td colspan="2">
			              <a href="#more_details">View more</a>
			            </td>
			          </tr>
		          <% end %>

	         <% end %>		          

            </tbody>
          </table>
		</div>
	</div>
	<div class="row">
		<div id="desc" class="span12">
			<h4>Description</h4>
			<span id="desc_content" title="Enter Description(More than 20 letters)" data-type="wysihtml5" class="canEdit action_icon" inputclass="desc_content_form"> <%= description.html_safe %> </span>
		</div>
	</div>

<% unless spec.empty? %>
	<% unless itemid.empty? %>

		<% if spec_used.size < spec.size %>

			<div class="row">
				<div class="span12" id="more_details">
						<table class="table table-bordered table-striped">
			            <colgroup>
			              <col class="span1">
			              <col class="span7">
			            </colgroup>
			            <thead>
			              <tr>
			                <th>Specification</th>
			                <th>Value</th>
			              </tr>
			            </thead>
			            <tbody>

					<!-- load remaining spec -->

						<% (spec_used..((spec.size)-1)).each do |i| %>
				              <tr>
				                <td>
				                  <%= spec[i].spec.name %>
				                </td>
				                <td>
				                 <span class="canEdit" data-name="username"  title="<%=spec[i].name%>"  specname="<%= spec[i].spec.name %>" specid="<%= spec[i].spec.id.to_s %>" id="item_<%= spec[i].spec.id %>"> <%= spec[i].value.titleize %> </span>
				                </td>
				              </tr>
				         <% end %>
			         
			          </tbody>
			         </table>
					</div>
				</div>
		<% end %>
     <% end %>
 <% end %>		          



					<% if defined? itemspec and (!current_user.nil? and (ownerid == p2p_current_user.id.to_s) ) and !spec_used.nil? and itemspec.count < spec_used.count %>

						<div id="add_more_spec" class="hide">
							<b>Add More Specification here <br/></b>
							<table class="table table-bordered table-striped hide" id="empty_specs">
								<tr>
									<th>Specification</th>
									<th>Value</th>
								</tr>

							<% itemspec.each do |spec| %>

								 <% next if !spec_used.nil?  and spec_used.include?(spec.id) %>
						              <tr>
						                <td>
						                  <%= spec.name %>
						                </td>
						                <td>
						                 <span class="canEdit" data-name="<%=spec.name%>"  title="Enter <%=spec.name%>"  specname="<%= spec.name %>" specid="<%= spec.id.to_s %>" id="item_<%= spec.id %>">  </span>
						                </td>
						              </tr>
							<%end %>
							</table>
						</div>
					<%end %>




<script>

	
	<% if !current_user.nil? and (ownerid == p2p_current_user.id.to_s) %>

		window.editsaveurl = '<%= (itemid.empty?) ? "/p2p/items": "/p2p/items/" + itemid %>';
		window.editsavetype = '<%= (itemid.empty?) ? "post": "put"%>';

		$("#image_upload").val("");
		//initialize
		
		window.image_count =  <%= (itemid.empty?) ? 0 : viewimage.count %>;

		window.item_values ={};
		item_values['spec']={};
		window.edit = <%= (itemid.empty?) ? false : true %>;

				<%if !itemid.empty?  and ownerid == p2p_current_user.id.to_s %>
					item_values['title'] = "<%= title %>";
					item_values['cat'] = "<%= categoryid %>";
					item_values['scat'] = "<%= subcategoryid %>";
					item_values['brand'] = "<%= brandid %>";
					item_values['price'] = "<%= price %>";
					item_values['condition'] = "<%= condition %>";
					item_values['desc'] = $("#desc_content").html();
					item_values['location'] = "<%=location%>";

					<% spec.each do |aspec| %>
						item_values['spec']['<%= aspec.spec.id%>'] = "<%= aspec.value %>";
					<% end %>


				<% end %>

	<% end %>

	<% if itemid.empty? %>
		$(document).ready(function(){
			$('#enable').trigger("click");
			console.log('clicked');

		});
		
	<% end %>


   

</script>

