<% states=["Andhra Pradesh","Arunachal Pradesh","Assam","Bihar","Chandigarh","Chhattisgarh","Daman and Diu","Delhi","Goa","Gujarat","Haryana","Himachal Pradesh","Jammu and Kashmir","Jharkhand","Karnataka","Kerala","Madhya Pradesh","Maharashtra","Manipur","Meghalaya","Mizoram","Nagaland","Orissa","Pondicherry","Punjab","Rajasthan","Sikkim","Tamil Nadu","Tripura","Uttar Pradesh","Uttarakhand","West Bengal","Dadra and Nagar Haveli","Andaman and Nicobar Islands"]%>

<%= stylesheet_link_tag "items/items_manifest"%>


<div class="main_wrapper">
<div class="row">


<div class="span12">
  <ul class="breadcrumb">
    <li><a href="/p2p">Home</a> <span class="divider">/</span></li>
    <li><a href="/p2p/<%=@item.category.name%>"><%=@item.category.name.titleize %></a> <span class="divider">/</span></li>
    <li><a  href="/p2p/<%=@item.category.name%>/<%=@item.product.name%>"><%=@item.product.name.titleize %></a> <span class="divider">/</span></li>
    <li class="active "> <%=link_to @item.title.titleize ,{:cat => @item.category.name ,:prod => @item.product.name ,:item => @item.title } %> </li>
  </ul>
</div>

</div>
<div id="google_ad_holder">
  <img src="//storage.googleapis.com/support-kms-prod/SNP_2922339_en_v0" width="732" height="94">
</div>  
<div id="item_box"><span class="big"><%=@item.title%></span></div>
<div class="row">

<div class="span4">
  
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        

        <%r = rand(0..(@thumbimage.count-1))%>
        <div id="view_image_holder">
          <a href="<%=@fullimage[r][:url]%>" id="view_image_fancy">
            <img src="<%= @viewimage[r][:url] %>" imgid="<%= @viewimage[r][:id] %>" alt="Item pic" id="view_image">
          </a>
        </div>

        <div class="caption thumb_holder">
          <ul class="thumbnails">
                <% i = 0 %>
                <% @thumbimage.each do |img| %>
                    <li class="thumbs">
                      <img src="<%= img[:url]%>"  imgid="<%= img[:id] %>" alt="" id="image_<%= img[:id]%>" class="thumb_img" fancyimg="<%=@fullimage[i][:url]%>" viewimage="<%= @viewimage[i][:url] %>">
                    </li>
                    <% i += 1 %>
                <% end %>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>


<div class="span7" id="item_top_details">
  <div class="row">
    <div class="span4" id="item_top_details_details">
      <div class="big"> Condition: <span class="highlight"> <%= @item.condition %> </span></div>
      <div class="big"> Price: <span class="highlight"> <%= @item.price %> </span></div>
    </div>

    <div class="span3 pull-right" id="item_top_buy_button">


      <% if session[:userid].nil? %>

          <!-- Buyer View -->
          <div class="btn-group" id="listing_action">

            <!-- contact seller modal  -->
            <!-- Button to trigger modal -->

            <% if @item.paytype == 2 %>

                <a href="#head_login_modal" role="button" class="btn  btn-warning " data-toggle="modal"> <i class="icon-white icon-user"></i>  Contact Seller</a>


            <% elsif @item.paytype == 1 %>

                <a class="btn  btn-warning " href="#head_login_modal" data-toggle="modal" title="Receive by courier"><i class="icon-white icon-envelope"> </i>     Buy this now </a>

            <% elsif @item.paytype == 3 %>

                <a class="btn  btn-warning " href="#head_login_modal" data-toggle="modal" title="Pay and receive by Sociorent"><i class="icon-white icon-star"> </i>    Buy this now  via Sociorent </a>

            <% end %>

          </div>
      <% elsif session[:userid].to_s != @item.user.id %>


          <% if defined?(@item.paytype) and @item.paytype == 2 %>

              <% if p2p_current_user.mobileverified == true %>
                  <a href="#contact_seller_modal" role="button" class="btn  btn-warning" data-toggle="modal"  ><i class="icon-white icon-user"></i> Contact Seller</a>
              <% else %>
                  <a href="#contact_seller_modal" role="button" class="btn  btn-warning hide" data-toggle="modal"  id="contact_seller_modal_button" ><i class="icon-white icon-user"></i>Contact Seller</a>

                  <a href="#mobile_verify_modal" id="mobile_verify_modal_button" role="button" class="btn  btn-warning" data-toggle="modal"  ><i class="icon-white icon-user"></i> Contact Seller</a>

                  <!-- Modal -->
                  <div id="mobile_verify_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="mobile_verify_modallLabel" aria-hidden="true">

                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h3 id="mobile_verify_modalLabel">Verify your mobile</h3>
                    </div>

                    <div class="modal-body form-horizontal">
                      Before you send a message to seller, verify your mobile.<br>
                      <div class="control-group">
                        <label class="control-label"> Enter Mobile</label>

                        <div class="controls">
                          <input type="text" id="mobile_number" value = "<%= current_user.mobile_number %>" class="input text" >
                        </div>
                      </div>

                      <div class="control-group">
                        <label class="control-label"> Verification Code:</label>
                        <div class="controls">
                          <button class="btn  btn-primary" id="send_verify_code">
                            Send
                          </button>
                        </div>
                      </div>

                      <div class="control-group">
                        <label class="control-label"> Enter Code:</label>

                        <div class="controls">
                          <input type="text" id="verify_mobile" class="input text" >
                        </div>

                      </div>

                      <div class="control-group">
                        <label class="control-label"> </label>

                        <div class="controls">
                          <button class="btn " id="verify_code_submit">Verify Code</button>
                        </div>

                      </div>

                    </div>
                  </div>

              <% end %>
              <!-- Modal -->
              <div id="contact_seller_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contact_seller_modallLabel" aria-hidden="true">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h3 id="contact_seller_modalLabel">Send a Buy Request to seller</h3>
                </div>

                <div class="modal-body">
                  Seller aggres to <%=@item.payinfo%>
                  <p><%= render 'p2p/messages/compose' , :ownerid => @item.user.id ,:itemid => @item.id ,:message =>  @item.messages.new %></p>
                </div>

              </div>


          <% elsif @item.paytype == 1 %>

              <form id="citruspay_form" method="post" action="https://www.citruspay.com/wnw4zo7md1">
                <input type="hidden" name="merchantAccessKey" value="FFY8AMUA98AR6E1NNHS9">
                <input type="hidden" name="secSignature" id="citruspay_signature">
                <input type="hidden" name="merchantTxnId">
                <input type="hidden" name="orderAmount" id="OrderAmount" value= "<%= @item.price%>">
                <input type="hidden" name="currency" value="INR">
                <input type="hidden" name="reqtime" value="<%= Time.now.to_i * 1000 %>">
                <input type="hidden" name="returnUrl" value="<%= root_url%>p2p/update_citrus">
              </form>

              <button class="btn btn-warning action_popover" id= "pay_now_citrus_pay"><i class="icon-white icon-credit-card"></i>   Buy this now</button>

          <% elsif @item.paytype == 3 %>

              <a href="#check_availability_modal" role="button" class="btn  btn-warning" data-toggle="modal"  ><i class="icon-white icon-credit-card"></i>    Buy this now</a>
              <form id="citruspay_form" method="post" action="https://www.citruspay.com/wnw4zo7md1">
                <input type="hidden" name="merchantAccessKey" value="FFY8AMUA98AR6E1NNHS9">
                <input type="hidden" name="secSignature" id="citruspay_signature">
                <input type="hidden" name="merchantTxnId">
                <input type="hidden" name="orderAmount" id="OrderAmount" value= "<%= @item.price%>">
                <input type="hidden" name="currency" value="INR">
                <input type="hidden" name="reqtime" value="<%= Time.now.to_i * 1000 %>">
                <input type="hidden" name="returnUrl" value="<%= root_url%>p2p/update_citrus">
              </form>
              <!-- Modal -->
              <div id="check_availability_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="check_availability_modallLabel" aria-hidden="true">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h3 id="check_availability_modalLabel">Check availability in your area</h3>
                </div>

                <div class="modal-body">
                  <p>
                    Enter your pincode to verify the availablity <input type='text' placeholder='Pincode' itemid='<%=@item.id%>' id='check_availability'> <span id='availability_check_msg'>
                  </p>
                </div>

              </div>

          <% end %>
      <% else %>
          <!-- Buyer View -->
          <div class="btn-group" id="listing_action">

            <div class="badge badge-success ">Preview</div>
          </div>
      <% end %>
      </div>

    <div class="span7" id="item_top_details_buttons">


          <span class="item_top_details_detail action_popover" id="itemsharefb" data-content="Share this listing on facebook with friends and groups and increase the speed of selling." data-title="<img width=20 height=20 src='/assets/facebook_128.png'>Facebook Share" data-trigger="hover" data-placement="top" data-html=true>

              <span id='fb-root'></span>
              <script src='http://connect.facebook.net/en_US/all.js'></script>
              <a class="btn" onclick='postToFeed(); return false;'><i class="icon-facebook-sign"></i> Share</a>
            <script>
              FB.init({appId: "424914297573197", status: true, cookie: true});

              function postToFeed() {


                // calling the API ...
                var obj = {
                  method: 'feed',
                  redirect_uri: "http://<%=request.host%>:<%=request.port%>/p2p/<%=@item.category.name%>/<%=@item.product.name%>/<%=@item.title%>",
                  link: 'https://developers.facebook.com/docs/reference/dialogs/',
                  picture: "http://<%=request.host%>:<%=request.port%><%=@thumbimage[0][:url]%>",
                  name: "<%=@item.title%> ",
                  caption: "P2P - Sociorent",
                  description: "<%=@item.desc.encode('UTF-8').truncate(100)%>"
                };

                function callback(response) {
                  document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
                }

                FB.ui(obj, callback);
              }

            </script>


          </span>

      <%if !session[:userid].nil? and session[:userid].to_s != @item.user.id %>

          <span class="item_top_details_detail btn action_popover" id="itemfavourite"  data-content="You have starred <%=@item.user.user.name%>, which will bring you a notification everytime <%=@item.user.user.name%> lists a new item" data-title="<i class='icon-star '></i> Favourite <%=@item.user.user.name%>" data-trigger="hover" data-placement="top" data-html=true >

            <%= ((p2p_current_user.favouriteusers.where(:fav_id => @item.user.id)).count == 0 ) ? "<i class='icon-star '></i> #{@item.user.user.name}".html_safe : "<i class='icon-star already_fav'></i> #{@item.user.user.name}".html_safe %></span>
      <% elsif session[:userid].nil?  %>

          <a data-toggle="modal" href="#head_login_modal" class="item_top_details_detail btn action_popover"   data-content="Starring <%=@item.user.user.name%> brings you a notification everytime <%=@item.user.user.name%> lists a new item" data-title="<i class='icon-star '></i> Favourite <%=@item.user.user.name%>" data-trigger="hover" data-placement="top" data-html=true   >
            <i class='icon-star'></i> <%= @item.user.user.name %>
          </a>


      <% end %>
  </div>

  </div>

    <hr/>
        <table class="table table-bordered table-striped ">
          <tbody>


          <tr class="edit_visible">
            <td>Title </td>
            <td> <span class="canEdit " id="title"  data-original-title="Enter a title for your listing" data-placement="right" data-placeholder="Enter a title" ><%=@item.title.titleize  %></span></td>
          </tr>


          <tr>
            <td>Product </td>
            <td> <span class="canEdit " id="category" data-type="select" data-original-title="Select a category"  data-placement="right" data-placeholder="Select a category"   data-source="/p2p/getcategories" ><%=@item.category.name%></span></td>
          </tr>

          <tr>
            <td>Model / Category</td>
            <td>
              <span id="model" class=""  data-placement="right" data-placeholder="Select a model"  title="Select Model" data-type="select" ><%=@item.product.name%></span>
            </td>

          </tr>

      <!-- load all spec -->
      <% unless @attr.empty? %>
        <% @attr.limit(3).each do |aspec| %>
            <tr class="specs">
              <td>
                <%= aspec.spec.name %>
              </td>
              <td>
                <span class="canEdit " data-name="username"  title="Enter <%= aspec.spec.name %>"  specname="<%= aspec.spec.name %>" specid="<%= aspec.spec.id.to_s %>" id="item_<%= aspec.spec.id %>" data-placement="right"> <%= aspec.value.titleize  unless aspec.value.nil? %> </span>
              </td>
            </tr>
        <% end %>
      <% end %>


      </tbody>
    </table>


</div>
  </div>

<!-- start of row -->



  <div id="desc">
    <h4> <%= @item.title.titleize %> Description</h4>
    <span id="desc_content" title="Enter Description(More than 20 letters)" data-type="wysihtml5" class="canEdit " inputclass="desc_content_form" data-wysihtml5="{image:false}"> <%= URI.decode(@item.desc).html_safe %> </span>
  </div>

  <div>

    <!-- category and subcategory container -->

    <table class="table table-bordered table-striped" id="table_specs">
      <colgroup>
        <col class="span1">
        <col class="span7">
      </colgroup>

      <tbody>


      <tr class="edit_visible">
        <td>Title </td>
        <td> <span class="canEdit " id="title"  data-original-title="Enter a title for your listing" data-placement="right" data-placeholder="Enter a title" ><%=@item.title.titleize  %></span></td>
      </tr>


      <tr>
        <td>Product </td>
        <td> <span class="canEdit " id="category" data-type="select" data-original-title="Select a category"  data-placement="right" data-placeholder="Select a category"   data-source="/p2p/getcategories" ><%=@item.category.name%></span></td>
      </tr>

      <tr>
        <td>Category / Model </td>
        <td>
          <span id="model" class=""  data-placement="right" data-placeholder="Select a model"  title="Select Model" data-type="select" ><%=@item.product.name%></span>
        </td>

      </tr>

      <!-- Price -->
      <tr>
        <td>
          <span >Price</span>
        </td>
        <td>
                <span > Rs.
                   <span data-name="username"  title="Enter Price"   data-placement="right" data-placeholder="Enter the price"  specname="price" specid="0" id="price"> <%= @item.price %></span>
              </span>

        </td>
      </tr>

      <!-- Location -->
      <tr>
        <td>
          <span > Condition</span>
        </td>
        <td>
          <span  data-name="username" data-type="select" data-source="['Brand New','Like New','Used','Old']" title="Enter Condition"  specname="condition" specid="0" id="condition"  data-placement="right" data-placeholder="Select the condition" > <%= @item.condition.titleize %> </span>
        </td>
      </tr>

      <!-- Location -->
      <tr>
        <td>
          <span >Location</span>
        </td>
        <td>
          <span  data-name="username"  data-type="typeahead" data-source="/p2p/getcities"  title="Enter Location"  specname="location" specid="0" id="location"  data-placement="right" data-placeholder="Select the Location" > <%= @item.city.name.titleize %> </span>
        </td>
      </tr>

     <!-- load all spec -->
      <% unless @attr.empty? %>
              <% @attr.each do |aspec| %>
                  <tr class="specs">
                    <td >
                      <%= aspec.spec.name %>
                    </td>
                    <td>
                      <span class="canEdit " data-name="username"  title="Enter <%= aspec.spec.name %>"  specname="<%= aspec.spec.name %>" specid="<%= aspec.spec.id.to_s %>" id="item_<%= aspec.spec.id %>" data-placement="right"> <%= aspec.value.titleize  unless aspec.value.nil? %> </span>
                    </td>
                  </tr>
              <% end %>
      <% end %>

      </tbody>
    </table>
  </div>
  <!-- specification end -->
</div>

    <% unless session[:userid].nil? %>
        <div id="address_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Shipping Address" aria-hidden="true">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3> Shipping Address </h3>
          </div>
          <div class="modal-body form-horizontal">
            <form id="shipping_address_form">
              <table class="table table-bordered table-striped">
                <% @address.each_with_index do |(name,value),index| %>
                  <tr>
                    <td><%= name.gsub(/address/i,'').humanize.titleize %></td>
                    <td>
                      <%if(name=="address_state")%>
                        <%= select_tag(name,get_states_selected(value).html_safe,:class=>"chosen")%>
                      <% else%>
                        <%= text_field_tag("#{name}",value)%>
                      <% end%>
                     </td>
                  </tr>
                <% end %>
                <tr><td></td><td><a class="btn" id="conitinue_to_checkout">Continue Shipping</a></td></tr>
              </table>
            </form>
          </div>
        </div>
      <% end %>


<script>

    window.item_id = '<%= @item.id %>';

    $(document).ready(function(){

        $('.btn').tooltip('destroy');

        $('#view_image_fancy').fancybox({
            'speedIn'   : 500,
            'speedOut'    : 200,
            'centerOnScroll': true
        });

        // $("#item_top_buy_button").animate({
        //     'padding-top': (($("#item_top_details_details").height()/2) -  ($("#item_top_buy_button").height()/2))
        // });


        $("#itemfavourite").click(function(){
            $.ajax({
                url:'/p2p/favourites',
                data:{itemid:window.item_id},
                type:"post",
                dataType:"json",
                success:function(data){
                    if (data.status == 1){
                        if (data.fav ==1 ){
                          $("#itemfavourite i ").addClass('already_fav');
                        }
                        else{
                          $("#itemfavourite i ").removeClass('already_fav');
                        }

                    }
                }
            });
        });

    });

</script>