<% content_for :pagetitle  do %>

  <% if session[:isadmin] %>
  <%= params[:action].titleize %> listings for <%= @user %>
  <% else %>
    <%= params[:action].titleize %> - <%= p2p_current_user.user.name %>
  <% end %>
    
<%end %>

<div class="row" id="body_content" >

     <div class="span2">

      <ul class="nav nav-list">

        <%= render "/p2p/users/dashboard_menu.html.erb" %>
        <%= render "/p2p/index/scat_menu" %>

      </ul>
    </div>

	<div class="span10">


          <div id="listHeader" class="row">
      <p class="fleft"> <b><%= params[:action].titleize %></b></p>
      </a></p>
    </div>

    <% if session[:isadmin] %>
      <div class="pull-right">
        See items by Email: <input type="text" id="user_id" placeholder="Type email">
      </div>
    <% end %>

      Details for: <%= @user %> <br/><br/>  


      <%= render '/p2p/items/inventory_items_button' %>

      <%= render "/p2p/items/inventory_items" , :items => @items %>

	</div>

</div>

