<% content_for :pagetitle  do %>

  Download Template <%=p2p_current_user.user.name %>

<%end %>


<div id="body_content" class="row">
    <div  class="span3">


      <ul class="nav nav-list">


      <%= render "/p2p/users/dashboard_menu.html.erb" %>
      <%#= render "/p2p/index/scat_menu" %>


      </ul>
    </div>

	<div id="items" class="span9">



		<h3> Upload Bulk data </h3>

		<%= form_tag "/p2p/upload_csv" ,:method => 'post' ,:multipart => true do %>
		
			Category: <%= select_tag "category" ,  options_from_collection_for_select(@cat,"id" ,"name") %>
			<br/>
			CSV File <input type="file" name="csvfile">

			<br/>
			<button type ="submit" id ="upload_template" class="btn " >Upload </button>
		<% end %>


		<h3> Download Template </h3>

		<%= form_tag "/p2p/gettemplate" ,:method => 'post' do %>
		
			Category: 
			<%= select_tag "category_template" ,  options_from_collection_for_select(@cat,"id" ,"name") %>

			<br/>
			<button type ="submit" id ="download_template" class="btn " >Download </button>
		<% end %>


		<h5>Instructions</h5>

		<ul class="instructions">
			<li>  Download the template for the Category you need. </li>
			<li>  Fill all details as possible in the corresponding column accurately. </li>
			<li>  For images provide the url. Atleast one is required. </li>
			<li>  For "Send By" column the only accepted value is "Courier" without quotes. </li>
			<li>  For "All over India" column the only accepted values are 'yes' and 'no' without quotes. </li>
			<li>  For "condition" the accecpted values are 
				<ul>
					<li>Like New</li>
					<li>Brand New</li>
					<li>Used</li>
					<li>Old</li>
				</ul>
			</li>
			
		</ul>

	</div>

</div>
