

	<table class="table table-bordered table-striped " id="item_specifications">

		<%@attr.each do |attr| %>
				<tr>
					<td class="span1"> <%= attr.name  %></td>
					<td class="span2 specification"  specname="<%= attr.name %>" specid="<%= attr.id.to_s %>" id="item_<%= attr.id %>" >Enter a <%= attr.name  %></td>
				</tr>

		<% end %>

	</table>