<%= stylesheet_link_tag 'p2p/items'%>
<%= javascript_include_tag 'global/jquery.ui.autocomplete'%>
<%= javascript_include_tag 'global/jquery.typewatch'%>
<%= javascript_include_tag 'global/jquery.validate.min'%>



<h2> List your Item </h2>


<%= form_for P2p::Item.new  do %>

<div id="item_classification" class=" form-horizontal">

	<h4>Item Category</h4>

  <div class="content">
	<div class="control-group">
		<%= label_tag "Category" ,"Category",:class=>"control-label" %>
		<div class="controls">
			<%= select_tag "item[category]" ,options_from_collection_for_select(P2p::Category.all,"id","name") ,:prompt => "Select a Category" ,:id => "item_category" ,:class => "required" %>
		</div>
	</div>

	
	<div class="control-group">
		<%= label_tag "SubCategory" ,"Sub Category",:class=>"control-label" %>
		<div class="controls">
			<%= select_tag "item[category]" ,options_from_collection_for_select([],0,0),:prompt => "Select a sub Category" ,:id=> "item_sub_category" %>
		</div>
	</div>

	<div class="control-group">
		<%= label_tag "Brand" ,"Brand",:class=>"control-label" %>
		<div class="controls">
			<%= select_tag "item[brand]" ,options_from_collection_for_select([],0,0),:prompt => "Select a Brand" ,:id=> "item_brand" ,:class => "required" %>
		</div>
	</div>
  </div>

	<div class="control-group">
		<div class="controls">
			<input class="btn btn-primary" value="Next" type="button" id="item_classification_next">
		</div>
	</div>


</div>


<div id="item_location"  class=" form-horizontal">

	<h4>Item Location</h4>
	<div class="content">
	</div>

	<div class="control-group">
			
		<div class="controls">
			<input class="btn btn-primary" value="Previous" type="button" id="item_location_previous">			
			<input class="btn btn-primary" value="Next" type="button" id="item_location_next">
		</div>
	</div>

</div>

<div id="item_details"  class=" form-horizontal">

  <h4>Item Details</h4>
  <div class="content">
	<div class="control-group">
		<%= label_tag "title","Title" ,:class=>"control-label" %>
		<div class="controls">
			<%= text_field_tag "title" ,"",:class => "required" %>
		</div>
	</div>

	<div class="control-group">
		<%= label_tag "desc" ,"Description",:class=>"control-label" %>
		<div class="controls">
			<%= text_area_tag "desc" ,"",:rows => 5 ,:cols => 10,:class => "required"  %>
		</div>
	</div>

	<div class="control-group">
		<%= label_tag "price" ,"Price" , :class=>"control-label" %>
		<div class="controls">
			<%= text_field_tag "price" ,"",:class => "required"  %>
		</div>
	</div>

	<div class="control-group">
		<%= label_tag "city_id" ,"City ",:class=>"control-label" %>
		<div class="controls">
			<%= text_field_tag "city_id" ,"",:class => "required"  %>
		</div>
	</div>

	<div class="control-group">
		<%= label_tag "pay_via","Pay Via" ,:class=>"control-label" %>
		<div class="controls">
			<%= text_field_tag "pay_via" %>
		</div>
	</div>
  </div>

	<div class="control-group">
		
		<div class="controls">
			<input class="btn btn-primary " value="Previous" type="button" id="item_details_previous">
			<input class="btn btn-primary" value="Next" type="button" id="item_details_next">
		</div>
	</div>

</div>


<div id="item_spec"  class=" form-horizontal">
	<h4>Item Specifications</h4>

	<div class="content">
	</div>

	<div class="control-group">
		
		<div class="controls">
			<input class="btn btn-primary" value="Previous" type="button" id="item_spec_previous">
			<input class="btn btn-primary" value="List now" type="submit" id="item_spec_list">
		</div>
	</div>

</div>

<div class="clearfix"></div>

<% end %>

<script>



		cat_fetch_error = function(){
					$("#itemattributes").html('<div class="control-group"><div class="controls info-warning">Select category to show deatils </div></div>');	
				}

		cat_change =function(elem){

			if ($("this").val()==""){
				cat_fetch_error();
				return false;
			}
			$.ajax({
				url:'getattributes/' + $("this").val(),
				type:"get",
				success:function(data){
						$("#itemattributes").html(data);
				},
				error:cat_fetch_error()

			});
		}

	$("#item_category").change(function(elem){


			var that =$("#item_sub_category")


			if ($(this).val()==""){
				cat_fetch_error();
				return false;
			}


			$.ajax({
				url:'getsubcategories/' + $(this).val(),
				type:"get",
				dataType:"json",
				success:function(data){
    					that.empty();
    						that.append('<option value="">Select a Sub Category </option>');
    					
    					_.each(data,function(option){
      						that.append('<option value="' + option.id + '">' + option.name + '</option>');
    					

    					});
				}

			});

			load_attr_brand($(this).val());

		});

	function load_attr_brand(val){

			$.ajax({
				url:'getattributes/' + val,
				type:"get",
				success:function(data){
						$("#item_spec .content").html(data);
				},
				error:cat_fetch_error()

			});

			that = $("#item_brand");

			$.ajax({
				url:'getbrand/' + val,
				type:"get",
				success:function(data){
    					that.empty();
    						that.append('<option value="">Select a Brand </option>');
    					
    					_.each(data,function(option){
      						that.append('<option value="' + option.id + '">' + option.name + '</option>');
    					

    					})
    				},
				error:cat_fetch_error()

			});


	}
	$("#item_sub_category").change(function(elem){

			if ($(this).val()==""){
				cat_fetch_error();
				return false;
			}

			load_attr_brand($(this).val());

		});

	$("#p2p_item_city_id").typeWatch({
		callback: function(){
			$.ajax({
				url:'/p2p/getcity/',
				type:"post",
				dataType:"json",
				data:{
					'query': $("#p2p_item_city_id").val()
				},
				success:function(data){
					$("#p2p_item_city_id").autoComplete({source: data});
				}
			});
		},
		wait:200,
		highlight:true,
		captureLength:2
	});

	function centerMe(elem){
				$(elem).css({
			left:( ($(".font_page").outerWidth()/2) -($(elem).outerWidth()/2) ),
			 top:( ($(window).height/2) - ($(elem).outerHeight()/2) )
		});

	}	

	//hid and show each screen
	$("#item_classification_next").click(function(){
		$("#item_classification").toggle(1000);
		$("#item_location").toggle(1000);
	});

	$("#item_location_next").click(function(){
		$("#item_location").toggle(1000);
		$("#item_details").toggle(1000);
	});

	$("#item_details_next").click(function(){
		$("#item_details").toggle(1000);
		$("#item_spec").toggle(1000);
	});

	$("#item_location_previous").click(function(){
		$("#item_location").toggle(1000);
		$("#item_classification").toggle(1000);
	});

	$("#item_details_previous").click(function(){
		$("#item_details").toggle(1000);
		$("#item_location").toggle(1000);
	});

	$("#item_spec_previous").click(function(){
		$("#item_spec").toggle(1000);
		$("#item_details").toggle(1000);
	});



	function ui_setup(){
		$("#footer").css({"bottom":0});

		$(".font_page").css({height:"100%"});

		centerMe("#item_classification");
		centerMe("#item_location");
		centerMe("#item_details");
		centerMe("#item_spec");


	}
	//align all to center and watch them

	$("#new_p2p_item").validate({
		ignore: "",
		errorPlacement: function(error, element) {

			console.log(element[0].id);
			
			if (element[0].id == 'item_category') {
				$("#item_classification").show(1000);
			}
			else if (element[0].id == 'title' ) {
				$("#item_details").show(1000);
			}

			$("#item_spec").hide(1000);
			return false;
            //error.insertAfter(element);
            //error.css("margin", "0 0 0 5px");
        }    
	});


	$(window).resize(ui_setup);


	ui_setup();



</script>

