<%= stylesheet_link_tag 'p2p/items'%>
<%= javascript_include_tag 'global/jquery.ui.autocomplete'%>
<%= javascript_include_tag 'global/jquery.typewatch'%>

<h2> List your Item </h2>
<%= form_for @item , :html => {:class => "form-horizontal" ,:id =>"new_item" } do |item|%>

	<div class="control-group">
		<%= label_tag "Category" ,"Category",:class=>"control-label" %>
		<div class="controls">
			<%= select_tag "item[category]" ,options_from_collection_for_select(P2p::Category.where("parent_id is null"),"id","name") ,:prompt => "Select a Category" ,:id => "item_category" %>
		</div>
	</div>

	
	<div class="control-group">
		<%= label_tag "SubCategory" ,"Sub Category",:class=>"control-label" %>
		<div class="controls">
			<%= select_tag "item[category]" ,options_from_collection_for_select([],0,0),:prompt => "Select a sub Category" ,:id=> "item_sub_category" %>
		</div>
	</div>


	<div class="control-group">
		<%= item.label :title ,:class=>"control-label" %>
		<div class="controls">
			<%= item.text_field :title %>
		</div>
	</div>

	<div class="control-group">
		<%= item.label :desc ,:class=>"control-label" %>
		<div class="controls">
			<%= item.text_area :desc ,:rows => 5%>
		</div>
	</div>

	<div class="control-group">
		<%= item.label :price ,:class=>"control-label" %>
		<div class="controls">
			<%= item.text_field :price %>
		</div>
	</div>

	<div class="control-group">
		<%= item.label :city_id ,:class=>"control-label" %>
		<div class="controls">
			<%= item.text_field :city_id %>
		</div>
	</div>


	<div id="itemattributes">


	</div>

</div>

<% end %>


<script>



		cat_fetch_error = function(){
					$("#itemattributes").html('<div class="control-group"><div class="controls info-warning">Select category to show deatils </div></div>');	
				}

		cat_change =function(elem){

			if ($("this").val()==""){
				cat_fetch_error();
				return false;
			}
			$.ajax({
				url:'getattributes/' + $("this").val(),
				type:"get",
				success:function(data){
						$("#itemattributes").html(data);
				},
				error:cat_fetch_error()

			});
		}

	$("#item_category").change(function(elem){


			var that =$("#item_sub_category")


			if ($(this).val()==""){
				cat_fetch_error();
				return false;
			}


			$.ajax({
				url:'getsubcategories/' + $(this).val(),
				type:"get",
				dataType:"json",
				success:function(data){
    					that.empty();
    						that.append('<option value="">Select a Sub Category </option>');
    					
    					_.each(data,function(option){
      						that.append('<option value="' + option.id + '">' + option.name + '</option>');
    					

    					});
				}

			});

		});
	$("#item_sub_category").change(function(elem){

			if ($(this).val()==""){
				cat_fetch_error();
				return false;
			}
			$.ajax({
				url:'getattributes/' + $(this).val(),
				type:"get",
				success:function(data){
						$("#itemattributes").html(data);
				},
				error:cat_fetch_error()

			});
		});

	$("#p2p_item_city_id").typeWatch({
		callback: function(){
			$.ajax({
				url:'/p2p/getcity/',
				type:"post",
				dataType:"json",
				data:{
					'query': $("#p2p_item_city_id").val()
				},
				success:function(data){
					$("#p2p_item_city_id").autoComplete({source: data});
				}
			});
		},
		wait:200,
		highlight:true,
		captureLength:2
	});

</script>

