<%= stylesheet_link_tag "p2p/items" %>
<%= stylesheet_link_tag "global/jquery.lightbox-0.5" %>

<%= javascript_include_tag "global/jquery.lightbox-0.5.pack" %>


<div id="view_item">

<div id="item_left">
	<div id="view_item_image">

		<img src="<%= @item.get_image[0][:url] %>" imgid="<%= @item.get_image[0][:id] %>" alt="" id="view_image"></img>
	</div>

	<% unless current_user.nil? %>

		<div id="addimg">
				<%= form_tag "/p2p/addimage" ,:multipart => true , :id => "add_image_form" do %>

					<input type="hidden" value="<%= @item.id %>" name="item_id">

	                <input type="file" name="img[]" multiple id="file_add_image">
	                
				<% end %>

		</div>
		<div id="remove_image"><img src="/assets/Trash-can-icon.png"></div>
		<% end %>

	<div class="clearfix"></div>
	<div id="image_list">
		<% @item.get_image(0).each do |img| %>
			<a href="<%= img[:url] %>" class="hidden" id="lightbox_<%= img[:id] %>"></a>
			<img src="<%= img[:url] %>" imgid="<%= img[:id] %>" alt="" class="thumb_image" id="img_<%= img[:id] %>" ></img>
		<% end %>
		<div class="clearfix"></div>
	</div>
</div>

	<div id="item_title"> <%= @item.title %> </div>

	<br/>

	<div id="item_price"> Price:  <%=  @item.price %> </div>

	<br/>

	Description: <br/>
	<div id="item_description"> <%=  @item.desc %> </div>

	<div class="clearfix"></div>
</div>

	<% if (current_user.nil? or @item.user.id != current_user.id) %>

		<div id="action_buttons">
			<div class="btn btn-info"> Buy Now </div>
			<br/><br/>



			<a href="#view_contact_modal" role="button" class="btn btn-warning" data-toggle="modal">Seller Info</a>
			 
			<!-- Modal -->
			<div id="view_contact_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="view_contact_modalLabel" aria-hidden="true">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="view_contact_modalLabel">Seller Info</h3>
			</div>
			<div class="modal-body">
			<p> Email : <%= @item.user.user.email  %> </p>
			</div>
			</div>
		</div>

	<% else %>

		<div id="analytics">
			<% if @item.solddate.nil? %>
				<a href="/p2p/sold/<%= @item.id %>" class="btn btn-warning"> Its Sold!</a>
			<% else %>
				<span class="btn btn-info">Item Sold on <%= @item.solddate.strftime("%d-%b-%C%y") %> </span>
			<%end %>

			<h4> Analytics </h4>
			<div id="view_count"> View Count: <%= @item.viewcount %> </div> <br/>
			<div id="view_req_count"> Request Count : <%= @item.reqCount %> </div> <br/>
		</div>

	<% end %>

<div class="clearfix"></div>

<div id="item_attributes">
	<h3> Specifications: </h3>


	<table class="table table-striped table-bordered table-hover"> 
		<%	@attr.each do |attr| %>
			<tr>
				<td class="span2">  <%= attr.spec.name %> </td>
				<td > <%= attr.value %> </td>
			</tr>
		<% end %>
	</table>
</div>


<script>

$(document).ready(function(){


<% unless current_user.nil? %>

	$("#file_add_image").change(function(){
			$("#add_image_form").submit();
	});

	$("#remove_image").click(function(){
		$.ajax({
			url:"/p2p/images/" + $("#view_image").attr("imgid"),
			type:"delete",
			dataType:"json",
			success:function(data){
				if (data.status == 1){
					$("#img_" +  $("#view_image").attr("imgid") ).remove();
				}
			}
		});
	});
	<% end %>

	$(".thumb_image").click(function(){
		console.log( $(this).attr("src"));
		$("#view_image").attr("src", $(this).attr("src"));
		$("#view_image").attr("imgid",$(this).attr("imgid"));

	});
});
	$("#view_image").click(function(){
		$("#lightbox_" + $("#view_image").attr("imgid")).trigger("click");

	});

	$("#image_list a").lightBox({
		imageLoading:"/assets/lightbox-ico-loading.gif",
		imageBtnClose: "/assets/lightbox-btn-close.gif",
		imageBtnPrev: "/assets/lightbox-btn-prev.gif",
		imageBtnNext: "/assets/lightbox-btn-next.gif"
	});


</script>

