<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	<div>Dear <%= @user.name %></div>
    <div><%= @general.order_email_content.html_safe %></div>
    <h4>Order details</h4>
    <div>Order Number: <%= @order.random %></div>
    <div>Order Total: <%= @order.total %></div>
    <% @order.books.each do |book| %>
    	<div><b><%= book.name %></b> <i>by <%= book.author %></i></div>
    <% end %>
    <br/><br/>
    <% case @order.order_type %>
    <% when "bank" %>
      <div>You have selected to pay via bank deposit</div>
      <div>Unique ID:<%= @user.unique_id%></div>
      <div>Bank Details:</div>
      <div><%= @order.bank.name%></div>
      <div><%= raw @order.bank.details %></div>
    <% when "COD" %>
      <div>Thank you for your order.</div>

      <div>Your Order Number is <%= @order.random %>. You would need to pay Rs. <%= @order.total %> at the time of delivery.</div>

      <div>You'll receive an email and SMS confirmation once the order is being shipped.</div>
    <% end %>
    <br/><br/>
    <a href="http://www.sociorent.com/">Sociorent</a>
  </body>
</html>