<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	<div>Dear <%= @user.name %></div>
    <div><%= raw @general.order_email_content %></div>
    <h4>Order details</h4>
    <div>Order Number: <%= @order.random %></div>
    <div>Order Total: <%= @order.total %></div>
    <% @order.books.each do |book| %>
    	<div><b><%= book.name %></b> <i>by <%= book.author %></i></div>
    <% end %>
    <br/><br/>
    <% if @order.order_type == "bank" %>
      <div>You have selected to pay via bank deposit</div>
      <div>Unique ID:<%= @user.unique_id%></div>
      <div>Bank Details:</div>
      <div><%= raw @order.bank.details %></div>
    <% elsif @order.order_type == "cheque" %>
      <div>You have selected to pay via Cheque, please mail it to us at the provided address: </div>
      <div>Unique ID:<%= @user.unique_id%></div>
      <div><%= raw @general.address %></div>
    <% end %>
    <br/><br/>
    <a href="http://www.sociorent.com/">Sociorent</a>
  </body>
</html>