 <!--Search filter menu cod -->


<div id="pull_here" class="btn btn-info">Filters </div>

<div id="dummy_filter_holder" class="nav nav-list">

<!-- overlay to be displayed during filter request -->
	<div id="overlay"></div>

		<% item_condition_res = category.items.by_location_or_allover(p2p_get_user_location).select("distinct p2p_items.condition").order('p2p_items.condition asc') %>

		<% if item_condition_res.count > 0 %>
			<li class="nav-header"> Condition </li>
			<% item_condition_res.each do |itm| %>
				<li class="spec-filter" spec-name="condition" spec-value="<%=itm.condition%>">
				<i class="icon-remove  pull-right hidden"></i>
				 <a href="#"> <%= itm.condition %> </a> 

				</li>
			<% end %>
		<% end %>

		<% category.specs.each do |spec|%>
			<li class="nav-header"> <%= spec.name %> </li>
				<% spec.itemspecs.select(" distinct value").order('value asc').sort.each do |itemspec| %>
					<li class="spec-filter" spec-name="<%=spec.name%>" spec-value="<%=itemspec.value%>">
						<i class="icon-remove hidden pull-right"></i>
						<a href="#"> <%= itemspec.value	%> </a>
					</li>
				<% end %>
			<% end %>

	    <li class="divider"></li>



		<!-- Template for the search results -->
		<!-- load only for inital request and not for load more-->
	    <script type="template" id="item_template">
		      

	    	<%% if ( window.page_num == 2 ) { %>

				<ul class="thumbnails" id="filter_replace">		        

			<%% } %>
			
 	        

		    	<%% _.each(data["res"],function(elm){%>

				          <li class="span2 aitem_holder">
				            
	   			              <div class="thumbnail">

	   			              <a href="<%%=elm.url%>">

	   			              <div class="aitem_left">
	   			              	<div class="image_holder">
				                	<img src="<%%= elm.img %>" >
				                </div>
				              </div>
				              </a>

				                <div class="aitem_right">
				                <a href="<%%=elm.url%>">
				                  <div>
                                    <div class="item_title">
                                    <%%=elm.title%></div>
                                  </div>
				                </a>

                                <div class="item_category">
                                  
                                  in 
                                  <a href="<%%= elm.prod_url%>">
                                    <%%= elm.prod  %>
                                  </a>
                                  ,
                                  <a href="<%%=elm.cat_url%>">
                                    <%%= elm.cat %>
                                  </a>
                                </div>

                                <div class="item_condition"><%%=elm.condition%></div>
                                      <div class="item_price">Price:<del>&#2352;</del> <%%=elm.price %>
                                </div>

                              <div class="clearfix"></div>
                      </div>				      
                      </li>

					<%% });%>

		    	<div id="load_more_content"></div>

			<%% if ( (window.page_num == 2  ) && data.next == 1 )  { %>
				</ul>
		   		    <div id="load_more">
				    	<div class="btn btn-primary">Load More.....</div>
				    </div>


			<%% }%>

	    </script>

	<script>
		window.category="<%=category.name%>";
		<% if params.has_key?(:prod) %>

			//@products will not be array for this particular action
			<% if request[:action] == 'browse_filter' %>
				window.filterurl= "/p2p/<%=category.name%>/<%=@products.name%>/filters";
			<% else %>
				window.filterurl= "/p2p/<%=category.name%>/<%=@products[0].name%>/filters";
			<% end %>

		<% else %>
		window.filterurl= "/p2p/<%=category.name%>/filters";
		<% end %>

	</script>

	<%= javascript_include_tag 'p2p/browse_filter' %>
</div>