<!-- Search filter menu cod -->

<!-- overlay to be displayed during filter request -->
	<div id="overlay"></div>


	<li class="nav-header">Filters</li>
		<li class="nav-header"> Sort </li>
		<li>
			<select class="span1" id="filter_sort">
				<option value="0">Relevance</option>
				<option value="1">Price Hight to low</option>
				<option value="2">Price Low to hight</option>
			</select>
		</li>

		<% item_condition_res = category.items.select("distinct p2p_items.condition") %>

		<% if item_condition_res.count > 0 %>
			<li class="nav-header"> Condition </li>
			<% item_condition_res.each do |itm| %>
				<li onclick="javascript:filter('condition','<%=itm.condition%>',this)">
				<i class="icon-remove hide pull-right"></i>
				 <a href="#"> <%= itm.condition %> </a> 

				</li>
			<% end %>
		<% end %>

		<% category.specs.each do |spec|%>
			<li class="nav-header"> <%= spec.name %> </li>
				<% spec.itemspecs.select(" distinct value").each do |itemspec| %>
					<li onclick="javascript:filter('<%=spec.name%>','<%=itemspec.value%>',this)">
						<i class="icon-remove hide pull-right"></i>
						<a href="#"> <%= itemspec.value	%> </a>
					</li>
				<% end %>
			<% end %>
	    <li class="divider"></li>


		<!-- Template for the search results -->
	    <script type="template" id="item_template">

		      <div class="itemsRow">

		        <div id="listHeader" class="row">
		          <p class="fleft"> <b> Results </b></p>
		        </div>

 	        <ul class="thumbnails" id="filter_replace">

		    	<%% _.each(data,function(elm){%>

				          <li class="span2">
				            <a href="<%%=elm.url%>">
	   			              <div class="thumbnail">
				                <img src="<%%=elm.img %>" >
				                <div class="caption">
				                  <b><%%=elm.title%></b>
				                  <p>

				                    <ul>
				                      <li><del>&#2352;</del> <%%=elm.price %></li>
				                      <li><%%=elm.condition%></li>
							                    </ul>
				                  </p>

				                </div>

				              </div>

				            </a>
				          </li>

					<%% });%>

		    	</ul>

	    </script>

<script>
				window.category="<%=category.name%>";
				window.filterurl= "/p2p/<%=category.name%>/filters";
</script>
<%= javascript_include_tag 'p2p/browse_filter'%>
