<!--Partial template for ini=itial stage item view  -->
<%items.each do |p| %>

  <div class="product">
    

    <a href="/p2p/<%=p.product.category.name%>/<%=p.product.name%>/<%=p.title.gsub(/ /,"-")%>/<%=p.id%>" > 
      <div class="product_img">
       <img src="<%= p.get_image(1,:search)[0][:url] %>" ></img>
      </div>
    </a>

      <div class="product_title">
        <a href="/p2p/<%=p.product.category.name%>/<%=p.product.name%>/<%=p.title.gsub(/ /,"-")%>/<%=p.id%>" > 
          <em><%= p.title.slice(0,25)  %></em>
        </a>
      </div>

                
      <div class="product_tag">
      <em>Price: <del>&#2352;</del> <%=p.price %></em> 
      </div>

      <div class="product_tag">
      <em>Condition: <%=p.condition %></em> 
      </div>
   
      
      
  </div>
<% end %>
