		<!-- display button if browse and hide the menu -->
		<% if  defined?(dropdown) %>
			<div class="dropdown">
			<a class="dropdown-toggle btn-primary btn"  href="#" data-toggle="dropdown" id="browse_button">Browse </a>
		<% else %>
			<li class="nav-header">Browse </li>
		<% end %>

		<!-- display button if browse and hide the menu -->
		<% if  defined?(dropdown) %>
				<ul class="dropdown-menu">
		<% end %>


		<% P2p::Category.where("category_id is null").each do |cat|%>

				<!-- mark active element on page -->
				<% if defined?(active_page) and cat.name == active_page %>
					<li class="active">
				<% else %>
					<li>
				<% end %>

				<a  href="/p2p/<%= cat.name %>">
						<%= cat.name %>
					</a>
				</li>


				<% cat.subcategories.all.each do |scat| %>

					<!-- mark active element on page -->
					<% if defined?(active_page) and scat.name == active_page %>
						<li class="active">
					<% else %>
						<li>
					<% end %>

						<a  href="/p2p/<%= scat.name %>">
							<%= scat.name %>
						</a>
						
					</li>
				<% end %>

			<% end %>


	    
		<!-- display button if browse and hide the menu -->
    	<% if  defined?(dropdown) %>
			</ul>
			</div>
		<% end %>

		<li class="divider"></li>

<%= javascript_include_tag 'p2p/category_menu'%>

