
<div id="Itemlist" class="row">
    <div id="filters" class="span2 ">

      <ul class="nav nav-list" id="browse_menu">

		
        <%= render "scat_menu" , :active_page => @cat.name ,:dropdown => true %>

        <%= render "p2p/index/filter" , :category => @cat %>

      </ul>
    </div>

<div id="items" class="span10">

	
<!--
	<div id="browse_sort">


		<span class="pull-right">Sort


		<select id="sort_browse_items">
				<option>Relevance</option>
				<option>Price -> High to Low</option>
				<option>Price -> High to Low</option>
			</select>
		</span>

	</div>
-->

		

		<% prod_count = 0 %>

		<% @products.each do |prod| %>

			<% next if prod.items.count ==0 %>
			

			<% prod_count = 0 %>



					      <div class="itemsRow">

					        <div id="listHeader" class="row">
					          <p class="fleft"> <b><%= prod.name.pluralize.titlecase %> </b></p>

					          <% if @products.count > 1 %>
					          	<p class="fright"><a href="/p2p/<%=@cat.name%>/<%=prod.name%>"> View All</a></p>
					          <% end %>

					        </div>

			        <ul class="thumbnails" id="filter_replace">
			        
			        <% prod.items.order("rand()").limit(5).each do |p| %>

			          <li class="span2">
			            <a href="/p2p/<%=p.product.category.name%>/<%=p.product.name%>/<%=p.title%>">
			              <div class="thumbnail">
			                <img src="<%=p.get_image(1,:search)[0][:url]%>" >
			                <div class="caption">
			                  <b><%= p.title.slice(0,10)  %></b>
			                  <p>

			                    <ul>
			                      <li><del>&#2352;</del> <%=p.price %></li>
			                      <li><%=p.condition%></li>
			<!--                              <li>Attribute 2</li>
			                      <li>Attribute 3</li>
			-->                              
			                    </ul>
			                  </p>

			                </div>
			              </div>
			            </a>
			          </li>
			      <% end %>

			      </ul>

			</div>
	<% end %>

	
	<% if prod_count ==0 %>
		<div class="noitems">No Items found </div>
	<% end %>


  </div>

 </div>


<script>
	$(document).ready(function(){
		// $("#browse_content_items").masonry({
		// 	itemSelector:'.product',
		// 	isAnimated: true
		// });

	//jquery history plugin



});
</script>