<%= stylesheet_link_tag "index/application" %>
<%= stylesheet_link_tag "inner" %>
<%= javascript_include_tag "global/jquery.typewatch" %>
<%= javascript_include_tag "global/underscore" %>

<script id='product_template' type='text/template'>
    
  <div class="products">
   
      <div class="product_title">
        <em><%%=elm.title %></em> <br/>--location : 
      </div>
      
      <div class="product_img">
       <img src="" alt="Picture coming Soon...."></img>
      </div>
      
      <div class="product_tag">
      <em><del>&#2352;</del> <%%= elm.price %></em> 
      </div>
     
  </div>
 
</script>


<script type="text/javascript">

function search(){ 

    $.ajax({
        url: '/p2p/search/'+$("#search_books_input").val(),
        type: 'GET',
        dataType:"json",

        success: function(data) {
            console.log(data);
            $("#mobiles").hide();
            $("#electronics").hide();
          
            console.log("sucess---"); 
          
            template=$("#product_template").html();
            $("#content").html("");
          _.each(data,function(elm){$("#content").append( _.template(template,{elm:elm}));});
         
       }

  });
}


$(document).ready(function(){
  $("#search_books_input").typeWatch({
      callback:search,
      wait:250,
      highlight:true,
      captureLength:2
  });
});

</script>




<div class="search_wrap">
      <h2>What You Wanna Buy ? </h2>
      <div class="searchbar">
        <form method="get" action="#" id="search">
          <input type="text" id="search_books_input" name="q"  placeholder="Enter Title, Mobile Name, Book Name" class="left search">
          <input id="search_books_input_hidden" type="hidden">
          <input type="submit" value="Search" class="left searchbutton">
          <input type="button" value="X" class="left btn" id="searchClose">
        </form>
      </div>
    </div>

<div id="content">

  <% @list.each do |list| %>
    <% if list.products.size > 0 %>

     <div id='<%= list.name %>'>
        <h4><%= list.name %></h4>

           <% products = list.products %>

           <% products.each do |prod| %>
              <% if prod.items.size > 0 %>

                <div id='<%= prod.name %>'>
                  <h5> <%= prod.name %> </h5>
                 <%= render :partial => "item",:locals =>{ :items => prod.items }%>
                </div>

             <% end %>
           <% end %>

     </div>

    <% end %>
  <% end %>

</div>

