<%= stylesheet_link_tag "index/application" %>
<%= stylesheet_link_tag "inner" %>
<%= stylesheet_link_tag "p2p/p2p" %>
<%= stylesheet_link_tag "global/jquery.lightbox-0.5" %>

<%= javascript_include_tag "global/jquery.lightbox-0.5.pack" %>
<%= javascript_include_tag "global/jquery.typewatch" %>
<%= javascript_include_tag "global/underscore" %>
<%= javascript_include_tag "global/jquery.isotope.min" %>

<script id='product_template' type='text/template'>
    
  <div class="product">
    <a href="/p2p/view/<%%= elm.id  %> ">

      <div class="product_img">
       <img src="<%%= elm.image %>" alt="Picture coming Soon...."  width="100px" height="50px" />
      </div>
   
      <div class="product_title">
        <em>  <%%=elm.title %>  </em> <br/>
      </div>
      
      
      <div class="product_tag">
      <em><del>&#2352;</del> <%%= elm.price %></em> 
      </div>
     </a>
  </div>
 
</script>


<script type="text/javascript">



$("#search_books_input").keyup(function(){
    console.log($.trim($("#search_books_input").val()).length + "len");

      if ($.trim($("#search_books_input").val()).length <=1){
        $("#content").show();
        $("#search_result").hide();
        return;
    }

});
function search(){ 
      $("#search_books_input").removeClass("error");
      

    if ($.trim($("#search_books_input").val()).length <=1){
        $("#content").show();
        $("#search_result").hide();
        return;
    }

    $.ajax({
        url: '/p2p/search/' + $("#search_books_input").val(),
        type: 'GET',
        dataType:"json",

        success: function(data) {
            console.log(data);

            if (data.length == 0 ){
                $("#content").show();
                $("#search_result").hide();
                $("#search_books_input").addClass("error");
                return;
            }

            template=$("#product_template").html();

            $("#search_result").html("");


            if(data['type'] == 'cat'){

                  var temp = [];

                _.each(data["data"],function(elm){

                      temp.push("<h3>Results in " + elm.cat + "(" + elm["items"].length +")</h3>" );

                        console.log(elm);
                        
                      _.each(elm["items"],function(item){ 
                          temp.push( _.template(template,{elm:item}) );
                      });

                      temp.push("<div class='clearfix'></div>");
                  });

                  

                  $("#search_result").append(temp.join("    "));

            }



            if(data['type'] == 'pro'){

                  var temp = [];

                _.each(data["data"],function(elm){

                      temp.push("<h3>Results in " + elm.cat + "(" + elm["items"].length +")</h3>" );

                        console.log(elm);
                        
                      _.each(elm["items"],function(item){ 
                          temp.push( _.template(template,{elm:item}) );
                      });

                      temp.push("<div class='clearfix'></div>");
                  });

                  

                  $("#search_result").append(temp.join("    "));

            }

            if (data['type'] == 'item'){

            
            _.each(data["data"],function(elm){$("#search_result").append( "<h3>Other Results(" + data["data"].length +")</h3>" + _.template(template,{elm:elm}) + "<div class='clearfix'></div>");});

            }
            $("#search_result").show();
            $("#content").hide();




       }

  });
}


$(document).ready(function(){
  $("#search_books_input").typeWatch({
      callback:search,
      wait:200,
      highlight:true,
      captureLength:2
  });
});

</script>




<div class="search_wrap">
      <h2>What You Wanna Buy ? </h2>
      <div class="searchbar">
        <form method="get" action="#" id="search">
          <input type="text" id="search_books_input" name="q"  placeholder="Enter Title, Mobile Name, Book Name" class="left search">
          <input id="search_books_input_hidden" type="hidden">
          <input type="submit" value="Search" class="left searchbutton">
          <input type="button" value="X" class="left btn" id="searchClose">
        </form>
      </div>
    </div>

<div id="content">

  <% @list.each do |list| %>
    <% if list.products.size > 0 and list.products[0].items.size > 0 %>

     <div id='<%= list.name %>' class="acategory">
        <div class="category_title"><%= list.name.pluralize %> <span class="pull-right"> <a href="#"> see all </a> </span></div> 

           <% products = list.products.limit(10) %>

           <% products.each do |prod| %>
              <% if prod.items.size > 0 %>

                 <%= render :partial => "item",:locals =>{ :items => prod.items.limit(5) }%>
             <% end %>
           <% end %>

        <div class="clearfix"></div>
     </div>

    <% end %>
  <% end %>

</div>

<div id="search_result">

</div>


<script>

$(document).ready(function(){
    $(".product").live("mouseenter",function(){
      $(this).clearQueue().stop().animate({opacity:0.3}).animate({opacity:1});
      console.log("aa");
    })
});
</script>