<%= stylesheet_link_tag "index/application" %>
<%= stylesheet_link_tag "inner" %>
<%= stylesheet_link_tag "p2p/p2p" %>
<%= javascript_include_tag "global/jquery.typewatch" %>
<%= javascript_include_tag "global/underscore" %>
<%= javascript_include_tag "global/jquery.isotope.min" %>

<script id='product_template' type='text/template'>
    
    

  <div class="product">
    <a href="/p2p/view/<%%= elm.id  %> ">

      <div class="product_img">
       <img src="/assets/nokia1.jpg" alt="Picture coming Soon...."  width="100px" height="100px"></img>
      </div>
   
      <div class="product_title">
        <em>  <%%=elm.title %>  </em> <br/>
      </div>
      
      
      <div class="product_tag">
      <em><del>&#2352;</del> <%%= elm.price %></em> 
      </div>
     </a>
  </div>
 
</script>


<script type="text/javascript">

function search(){ 

    $.ajax({
        url: '/p2p/search/' + $("#search_books_input").val(),
        type: 'GET',
        dataType:"json",

        success: function(data) {

            template=$("#product_template").html();
            $("#search_result").html("");
          _.each(data,function(elm){$("#search_result").append( _.template(template,{elm:elm}));});
            $("#content").hide();
            
            $('#search_result').isotope({
              itemSelector : '.product'

            });

            $('#search_result').css({"height":"auto" ,"overflow":"auto"}).show();

       }

  });
}


$(document).ready(function(){
  $("#search_books_input").typeWatch({
      callback:search,
      wait:200,
      highlight:true,
      captureLength:3
  });
});

</script>




<div class="search_wrap">
      <h2>What You Wanna Buy ? </h2>
      <div class="searchbar">
        <form method="get" action="#" id="search">
          <input type="text" id="search_books_input" name="q"  placeholder="Enter Title, Mobile Name, Book Name" class="left search">
          <input id="search_books_input_hidden" type="hidden">
          <input type="submit" value="Search" class="left searchbutton">
          <input type="button" value="X" class="left btn" id="searchClose">
        </form>
      </div>
    </div>

<div id="content">

  <% @list.each do |list| %>
    <% if list.products.size > 0 %>

     <div id='<%= list.name %>'>
        <h4><%= list.name %></h4>

           <% products = list.products %>

           <% products.each do |prod| %>
              <% if prod.items.size > 0 %>

                <div id='<%= prod.name %>' class="abrand">
                  <h5> <%= prod.name %> </h5>
                 <%= render :partial => "item",:locals =>{ :items => prod.items }%>
                 <div class="clearfix"></div>
                </div>

             <% end %>
           <% end %>

     </div>

    <% end %>
  <% end %>

</div>

<div id="search_result">
</div>


<script>

$(document).ready(function(){

</script>