
<% content_for :pagetitle  do %>
    Welcome 
<%end %>

<!-- List Section --> 
<div id="Itemlist" class="row">
      
      <div  class="span2">
        <ul class="nav nav-list" id="browse_menu">
        <%= render "scat_menu" %>
        <div class="clearfix"></div>
      </div>

    <div id="items" class="span10">
      <% @category.each do |acategory| %>

        <!-- loop and display only if the categories has products and items in it. -->
        <% if acategory.products.size > 0 %>

          <div class="itemsRow">
            <div id="listHeader" class="row">
              <p class="fleft"> <b><%= acategory.name.titlecase %> </b></p>
              <p class="fright"><a href="/p2p/<%= acategory.name %>"> View All</a></p>
            </div>
            <ul class="thumbnails">

    <!--           order the items by reqcount first, then by view count
              used to list the most viewed and most wanted items at top
              #TODO: THE NEW ITEMS WILL NEVER TURN UP TOP IN THE LIST
              SO DO SOMETHING FOR THAT(DISCUSS)
    -->                
         <% acategory.items.by_location_or_allover(p2p_get_user_location).approved.notsold.order("reqCount , viewcount").limit(5).each do |p| %>

                <li class="span2">
                  <a href="/p2p/<%=p.product.category.name%>/<%=p.product.name%>/<%=p.title%>">
                    <div class="thumbnail">
                      
                      <div class="image_holder">
                        <img src="<%=p.get_image(1,:search)[0][:url]%>" >
                      </div>

                      <div class="caption" title="<%= p.title %>">
                        <div class="item_title"><%= p.title.slice(0,15)  %></div>
                        <p>
                          <ul>
                            <li><del>&#2352;</del> <%=p.price %></li>
                            <li><%=p.condition%></li>
                          </ul>
                        </p>

                      </div>
                    </div>
                  </a>
                </li>
            <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>


    </div>
      <!-- List Section --> 
</div>