<%= stylesheet_link_tag "index/application" %>
<%= stylesheet_link_tag "p2p/p2p" %>
<%= stylesheet_link_tag 'p2p/search_category_menu'%>

<div id="index_left" class="span2 pull-left">

    
    <div  class=" menu" >
              <div class="menu_title">Browse</div>

            <div class="menu_contents">

                    <% P2p::Category.all.each do |cat| %>
                      <a class="menu_element sub_menu" href="/p2p/<%=cat.name%>">
                        <%= cat.name %> 
                      </a>
                <% end %>

              </div>
            <div class="clearfix"></div>            
    </div>


</div>

<div id="content" class="span9 pull-left">


  <% @list.each do |list| %>

    <% if list.products.size > 0 and list.products[0].items.size > 0 %>

     <div id='<%= list.name %>' class="acategory">
        <div class="category_title">Featured in <%= list.name.pluralize %> <span class="pull-right"> <a  class=" label label-info in_nav" href="/p2p/search/c/<%= list.name %>"> see all </a> </span></div> 

           <% products = list.products.limit(2) %>

           <% products.each do |prod| %>
              <% if prod.items.size > 0 %>

                 <%= render :partial => "item",:locals =>{ :items => prod.items.limit(5) }%>
             <% end %>
           <% end %>

        <div class="clearfix"></div>
     </div>

    <% end %>
  <% end %>

</div>

<div id="search_result" class="span11">

</div>



