<% content_for :pagetitle  do %>
Result for <%=params[:query]%>
<%end %>
<!-- List Section -->
<div id="Itemlist" class="row">
	<div class="span3">
		<%= render '/p2p/menu_partial/search_menu'  %>
	</div>
	<div id="items" class="span9">
		<div class="itemsRow">
			<div id="listHeader" class="row">
				<p class="fleft"> <b>Results for <%= params[:query] %></b></p>
				<p class="fright"><a href="/p2p/search/q/<%=params[:query]%>"> View All</a></p>
			</div>
			<%= will_paginate(@result) if @result.count >0 %>
			<ul class="thumbnails">
				<% @result.each do |p| %>
				<li class="span3 aitem_holder">
					<div class="thumbnail">
						<a href="<%= URI.encode("/p2p/#{p.category.name}/#{p.product.name}/#{p.title}")%>">
							<div class="aitem_left">
								<img src="<%=p.get_image(1,:search)[0][:url]%>" >
							</div>
						</a>
						<div class="aitem_right">
							<a href="<%= URI.encode("/p2p/#{p.product.category.name}/#{p.product.name}/#{p.title}")%>">
								<div  title="<%= p.title %>">
									<div class="item_title"><%= p.title.truncate(20).titleize  %></div>
								</div>
							</a>
							<div class="item_category">
								<a href="<%= URI.encode("/p2p/#{p.product.category.name}/#{p.product.name}") %>">
									<%= p.product.name  %>
								</a>
								<a href="<%= URI.encode("/p2p/#{p.product.category.name}")%>">
									<%= p.category.name  %>
								</a>
							</div>
							<div class="item_condition"><%=p.condition%></div>
							<div class="item_price"><del>&#2352;</del> <%=p.price %>
							</div>
							<div class="buy_now"><a href="<%= URI.encode("/p2p/#{p.product.category.name}/#{p.product.name}/#{p.title}")%>">Buy Now</a></div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</li>
					<% end %>
				</ul>
				<% unless @result.count <= 0 || @result.next_page.nil? %>
				<div id="load_more">
					<div class="btn btn-primary">Load More.....</div>
				</div>
				<% end %>
			</div>
		</div>
</div>