


 
  <!-- List Section --> 
<div id="Itemlist" class="row">

    <div id="filter" class="span2">


      <ul class="nav nav-list">

        <%= render "scat_menu"  %>

        <li class="nav-header">OS</li>
        <li class="active"><a href="#">Home <i class="icon-remove"></i></a></li>
        <li><a href="#">Library</a></li>
        <li><a href="#">Applications</a></li>


        <li class="divider"></li>

        <li class="nav-header">Memory</li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Help</a></li>

      </ul>
    </div>


	<div id="items" class="span10">


	<div class="itemsRow">
			<% @products.each do |prod| %>
				
				<% next if prod.items.count ==0 %>

		        <div id="listHeader" class="row">
		          <p class="fleft"> <b><%= prod.name.titlecase %> in <%=prod.category.name %></b></p>
		          <p class="fright"><a href="/p2p/search/c/<%=prod.category.name%>/<%=prod.name%>"> View All</a></p>
		        </div>


	                <ul class="thumbnails">
	                
	                <% prod.items.limit(5).each do |p| %>

	                  <li class="span2">
	                    <a href="/p2p/<%=p.product.category.name%>/<%=p.product.name%>/<%=p.title%>">
	                      <div class="thumbnail">
	                      	
	                      	<div class="image_holder">
	                        	<img src="<%=p.get_image(1,:search)[0][:url]%>" >
	                        </div>

	                        <div class="caption">
	                          <b><%= p.title.slice(0,10)  %></b>
	                          <p>

	                            <ul>
	                              <li><del>&#2352;</del> <%=p.price %></li>
	                              <li><%=p.condition%></li>
	<!--                              <li>Attribute 2</li>
	                              <li>Attribute 3</li>
	-->                              
	                            </ul>
	                          </p>

	                        </div>
	                      </div>
	                    </a>
	                  </li>
	              <% end %>

	              </ul>

			<% end %>


	</div>


	</div>
</div>