

<% content_for :pagetitle  do %>
    Showing <%= @p2p_product.name %>  product -Admin 
<%end %>


<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @p2p_product.name %>
</p>

<p>
  <b>Category:</b>
  <%= @p2p_product.category.name %>
</p>

<p>
  <b>Priority:</b>
  <%= @p2p_product.priority %>
</p>


<%= link_to 'Edit', edit_p2p_product_path(@p2p_product) %> |
<%= link_to 'Back', p2p_products_path %>
