
<div class="row" id="body_content" >

     <div  class="span3">

      <ul class="nav nav-list">

        <%= render "/street/users/dashboard_menu.html.erb" %>
        <%#= render "/street/index/scat_menu" %>

      </ul>
    </div>

	<div class="span9" id="fav_container">

		<h3>My Favourite Sellers </h3>

	<% if @fav.count > 0 %>
			<table id="fav_table" class="table table-striped table-bordered">

				<tr>
					<th><i class="icon-user"> </i> Seller Name </th>
					<th><i class="icon-ban-circle"> </i>  Unfavourite Seller</th>
					<th><i class="icon-table"> </i>  Favourite from</th>
				</tr>
				<% @fav.each do |f| %>
					<tr id="<%=f.p2pfav.id%>">
						<td>
							<i class="icon-user"> </i>  <a class="aslink" href="/street/sellers/<%=f.p2pfav.id%>/<%=f.p2pfav.user.name.gsub(/ /,"-")%>"><%= f.p2pfav.user.name %>	
							</a>

						</td>
						<td>
							<i class="icon-ban-circle"> </i>  <a class=" aslink unfollow_user" userid="<%=f.p2pfav.id%>">Unfavourite</a>
						</td>
						<td>
							<i class="icon-time"> </i> <%= f.created_at.strftime("%d-%m-%C%y") %>
						</td>

					</tr>
				<% end %>
			</table>

	<% else %>
		<h3>You don't have any favourite sellers.</h3>
	<% end %>
	</div>

</div>

