
<div class="row" id="body_content" >

     <div  class="span3">

      <ul class="nav nav-list">

        <%= render "/street/users/dashboard_menu.html.erb" %>
        <%#= render "/street/index/scat_menu" %>

      </ul>
    </div>

	<div class="span9">

	<% if @fav.count > 0 %>
			<table class="table table-striped table-bordered">

				<tr>
					<th>User</th>
					<th>Action</th>
					<th>Date</th>
				</tr>
				<% @fav.each do |f| %>
					<tr id="<%=f.p2pfav.id%>">
						<td>
							<a href="/street/sellers/<%=f.p2pfav.id%>/<%=f.p2pfav.user.name.gsub(/ /,"-")%>"><%= f.p2pfav.user.name %>	
							</a>

						</td>
						<td>
							<a class="unfollow_user" userid="<%=f.p2pfav.id%>">unfollow</a>
						</td>
						<td>
							<%= f.created_at.strftime("%d-%m-%C%y") %>
						</td>

					</tr>
				<% end %>
			</table>

	<% else %>
		<h3>You don't have any favourite sellers.</h3>
	<% end %>
	</div>

</div>

