<% content_for :pagetitle  do %>


  Payments

<%end %>




<div class="row" id="body_content" >

     <div class="span3">

      <ul class="nav nav-list">

        <%= render "/street/users/dashboard_menu.html.erb" %>
        <%#= render "/street/index/scat_menu" %>

      </ul>
    </div>


<div class="span9">

            <h3>Payment Details</h3>
            <% if @payments.count > 0 %>

            <%= will_paginate(@payments , :renderer => BootstrapPagination::Rails) %>
            <table class="table table-striped table-bordered">
              <tr>

                <th>Status</th>
                <th>Item Title</th>
                <th>Courier Name</th>
                <th>Tracking Num</th>
                <th>Shipping Date</th>
                <th>Deleviry Date</th>

            <%if params.has_key?(:bought)%>
                <th>Amount</th>
            <% else %>
                <th>Commission</th>
                <th>Shipping Charge</th>
                <!-- <th>Calculation</th> -->
                <th>For you (roundedoff)</th>

            <% end %>
                <th>Action</th>
              </tr>

            <% @payments.each do |p2p_item_delivery| %>
              <tr>
                <td><%= p2p_item_delivery.statustext %></td>
                <td><%= p2p_item_delivery.item.title %></td>
                <td><%= (p2p_item_delivery.courier_name == "" or p2p_item_delivery.courier_name.nil? ) ? "-NA-": p2p_item_delivery.courier_name %></td>
                <td><%= (p2p_item_delivery.tracking_no =="" or p2p_item_delivery.tracking_no.nil?) ? "-NA-" : p2p_item_delivery.tracking_no %></td>
                <td><%=  unless p2p_item_delivery.shipping_date.nil?
                            p2p_item_delivery.shipping_date.strftime("%d-%b-%C%y")
                        else
                            "-NA-"
                        end
                 %></td>

                <td><%= unless p2p_item_delivery.delivery_date.nil?
                            p2p_item_delivery.delivery_date.strftime("%d-%b-%C%y")
                        else
                            "-NA-"
                        end

                  %></td>

            <%if params.has_key?(:bought)%>
                <td>
                    <%= p2p_item_delivery.item.price %>
                </td>
            <% else %>
                <td>

                    <%= p2p_item_delivery.commission %>
                </td>

                <td>
                    <%= p2p_item_delivery.shipping_charge %>

                </td>

<!--                 <td>
                    <%=  "#{p2p_item_delivery.item.price} - (#{p2p_item_delivery.item.price} x #{p2p_item_delivery.commission/100} )  #{p2p_item_delivery.shipping_charge.to_s}"  %>
                </td>
 -->
                <td>
                    <%=  (p2p_item_delivery.item.price - (
                (p2p_item_delivery.item.price *  (p2p_item_delivery.commission/100) ) + p2p_item_delivery.shipping_charge.to_f).ceil).to_i  %>
                </td>

            <% end %>

            


                <td>
                    <% if [2,7].include?(p2p_item_delivery.p2p_status)#waiting %> 
                        <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_street_item_delivery_path(p2p_item_delivery) %>
                    <% end %>

                </td>

            <% end %>

              </tr>


            </table>


            <%= will_paginate(@payments , :renderer => BootstrapPagination::Rails) %>
            <br />
            <% else %>
                <h5>No payments done yet !!</h5>
            <% end %>
            <%#= link_to 'New Item delivery', new_p2p_item_delivery_path %>
</div></div>