<% content_for :pagetitle  do %>
    Payments
<%end %>


<div class="row" id="body_content" >

     <div class="span3">

      <ul class="nav nav-list">

        <%= render "/street/users/dashboard_menu.html.erb" %>
        <%#= render "/p2p/index/scat_menu" %>

      </ul>
    </div>

<div class="span9">
            <h1>Payment Details</h1>
            <% if @p2p_item_deliveries.count > 0 %>
            <%= will_paginate(@p2p_item_deliveries , :renderer => BootstrapPagination::Rails) %>
            <table class="table table-striped table-bordered ">
              <tr>
                <th>Item ID</th>
                <th>User Email</th>
                <th>TXN ID</th>
                <th>Courier Name</th>
                <th>Tracking Num</th>
                <th>Shipping Date</th>
                <th>Deleviry Date</th>
                <th>Commission</th>
                <th>Shipping Charge</th>
                <th>Citrus pay ID</th>
                <th>Citrus Pay reason</th>
                <th>Citrus Ref no</th>
                <th>Actions</th>

              </tr>

            <% @p2p_item_deliveries.each do |p2p_item_delivery| %>
              <tr>
                <td><%= p2p_item_delivery.item.id %></td>
                <td><%= p2p_item_delivery.buyer.user.email %><br/><%=p2p_item_delivery.buyer.user.name%><br/><i class="icon-mobile-phone"></i> <%=p2p_item_delivery.buyer.user.mobile_number%></td>
                <td><%= p2p_item_delivery.txn_id %></td>
                <td><%= p2p_item_delivery.courier_name %></td>
                <td><%= p2p_item_delivery.tracking_no %></td>
                <td><%= p2p_item_delivery.shipping_date.strftime("%d-%b-%C%y") unless p2p_item_delivery.shipping_date.nil?%></td>
                <td><%=  p2p_item_delivery.delivery_date.strftime("%d-%b-%C%y") unless p2p_item_delivery.delivery_date.nil?  %></td>
                <td><%= p2p_item_delivery.commission %></td>
                <td><%= p2p_item_delivery.shipping_charge %></td>

                <td><%= p2p_item_delivery.citrus_pay_id %></td>
                <td><%= p2p_item_delivery.citrus_reason %></td>
                <td><%= p2p_item_delivery.citrus_ref_no %></td>


    <td><%#= link_to 'Show', p2p_item_delivery %>
    <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_street_item_delivery_path(p2p_item_delivery) %>
    </td>

              </tr>
            <% end %>
            </table>


            <%= will_paginate(@p2p_item_deliveries , :renderer => BootstrapPagination::Rails) %>
            <br />
            <% else %>
                <h5> No payments done Yet !!</h5>
            <% end %>

            <%#= link_to 'New Item delivery', new_p2p_item_delivery_path %>

</div>
</div>