<% unless request.env["HTTP_REFERER"] %>
  <div class="wrapper">
<% end %>

<div id="devise_pages">
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post,:class=>"forgot_password_form" }) do |f| %>
	  <%= devise_error_messages! %>
    <div class="forgot_error"></div>
	  <div><%= f.label :email %>
	  <%= f.email_field :email %></div><br/>

	  <div><%= f.submit "Reset Password", :class => "btn" %></div>
	<% end %><br/>

	<%= render "devise/shared/links" %>
</div>
<script type="text/javascript">
  $(document).ready(function(){
  $(".forgot_password_form").validate({
      rules: {
        "user[email]": {
          email:true,
          required: true,
          remote: "/validate/email?reverse=true"
        }
      },
      messages: {
	     "user[email]": {
	       email: "Invalid Email",
	       remote: "Your Email is not available"
	     }
   		},
      highlight: function(label) {
        return $(label).closest(".control-group").addClass("error");
      }
  });
});
</script>
<% unless request.env["HTTP_REFERER"] %>
  </div>
<% end %>
