<% states=["Andhra Pradesh","Arunachal Pradesh","Assam","Bihar","Chandigarh","Chhattisgarh","Daman and Diu","Delhi","Goa","Gujarat","Haryana","Himachal Pradesh","Jammu and Kashmir","Jharkhand","Karnataka","Kerala","Madhya Pradesh","Maharashtra","Manipur","Meghalaya","Mizoram","Nagaland","Orissa","Pondicherry","Punjab","Rajasthan","Sikkim","Tamil Nadu","Tripura","Uttar Pradesh","Uttarakhand","West Bengal","Dadra and Nagar Haveli","Andaman and Nicobar Islands"]%>

<div id="book_details_box" class="font-dialog"></div>

<div id="cart_box" class="font-dialog">
	<div id="cart_caption">Your Cart</div>
	<div id="no_item_in_cart">There are no books in your cart.</div>
	<div id="cart_header">
		<div id="cart_header_book">Book</div>
		<div id="cart_header_isbn">ISBN</div>
		<div id="cart_header_rental_amount">Rental Amount</div>
		<div id="cart_header_rental_deposit">Rental Deposit</div>
	</div>
	<div id="cart"></div>
	<div id="cart_hide_on_no_item">
		<div id="cart_rental_total">
			Rental Amount: Rs.<span></span>
		</div>
		<div class="clear"></div>
		<div id="cart_deposit_total">
			Security Deposit: Rs.<span></span>
		</div>
		<div class="clear"></div>
		<div id="cart_refundable_amount">
			Refundable amount: Rs.<span></span>
		</div>
		<div class="clear"></div>
		<div id="cart_total">Total: Rs.<span></span></div>
		<div class="clear"></div>
		<div id="cart_options">
			<div id="terms_and_conditions_box">
				<input type="checkbox" id="order_terms_and_conditions" checked="checked">
				<label for="order_terms_and_conditions">I Agree to the <a href="#terms_of_use_page" class="static_page_dialog_open terms_of_use">Terms of use</a></label>
			</div>
			<div id="cart_options_right">
				Checkout
			</div>
			<div class="clear"></div>
		</div>
		<div id="shipping_charge">Shipping Charge: Rs.<span></span> (Rs.50 if Rental deposit less than Rs.1000)</div>
	</div>
</div>

<div id="shipping_details_box" class="font-dialog">
	<form class="form-horizontal shipping_form" id="shipping_form" >
		<% unless @user.address.nil? %>
		 <%	address = JSON.parse(@user.address) %>
		<% end %>

		<legend>Shipping Address</legend>
	  <div class="control-group">
	    <label class="control-label" for="address_street_name1">Street1</label>
	    <div class="controls">
	      <input type="text" id="address_street_name1" name="address_street_name1" value="<%= address["address_street_name1"] if address %>"  placeholder="Street1">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="street_name2">Street2</label>
	    <div class="controls">
	      <input type="text" id="address_street_name2" name="address_street_name2" value="<%= address["address_street_name2"] if address%>" placeholder="Street2">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="address_street_name1">City</label>
	    <div class="controls">
	      <input type="text" id="address_city" name="address_city" value="<%= address["address_city"] if address%>" placeholder="City">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="address_state">State</label>
	    <div class="controls">
	     	<select id="address_state" name="address_state">
	     	<% states.each do |state|%>
	     		<option value="<%=state%>"><%=state%></option>
	     	<% end %>
	     	</select>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="address_pincode">Pincode</label>
	    <div class="controls">
	      <input type="text" maxlength="6" id="address_pincode" name="address_pincode" value="<%= address["address_pincode"] if address%>" placeholder="Pincode">
	    </div>
	  </div>
	  <div class="control-group">
	    <div class="controls">
	      <button id="update_shipping" type="submit" class="btn">Update Shipping & Continue</button>
	    </div>
	  </div>
	  <div id="shipping_form_error"></div>
	</form>
</div>

<div id="checkout_box" class="font-dialog">
	<div id="checkout_caption">Checkout</div>
	<div id="checkout_box_response"></div>
	<div id="checkout_box_content">
		<div id="checkout_cash">
			<p>Deposit to Bank</p>
			<div class="pull-left">
				<div class="control-group">
			    <label class="control-label" for="bank_name">Bank Name</label>
			    <div class="controls">
			    	<%= select_tag "bank_name", options_for_select(Bank.all.map {|u| [u.bank_name,u.id]}),:prompt=>"Select Bank" %>
			    </div>
			  </div>
			  <div class="control-group">
					<div class="controls">
			 			<a class="btn create_order" data-attr="bank"> Confirm</a>
					</div>
				</div>
		  </div>
			<div class="pull-right">
			 	<div id="bank_details"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="checkout_cheque"> 
			<p>Pay Cash on Delivery</p>
			<div id="send_verification_div">
				<div class="control-group">
					<label>(Verification code will be sent to this number.)</label>
					<div class="controls">
				 		<input type="text" name="verification_mobile" id="verification_mobile" placeholder="Mobile Number"></a>
					</div>
				</div>
				<div class="control-group">
					<label></label>
					<div class="controls">
				 		<a class="btn" id="send_verify_code">Send Verification Code</a>
					</div>
				</div>
			</div>
			<div id="verify_mobile_div">
				<div class="control-group">
					<label>Verification Code</label>
					<div class="controls">
				 		<input type="text" name="verification_code" id="verification_code" placeholder="Verification Code">
					</div>
				</div>
				<div class="control-group">
					<label></label>
					<div class="controls">
				 		<a class="btn create_order" data-attr="COD"> Confirm</a>
				 		<a class="btn" id="reset_verification">Resend Verifcation Code</a>
					</div>
				</div>
			</div>
		</div>
		<div id="checkout_citruspay">
			<p>Pay Online</p>
			<!--  form for citrus pay checkout -->
			<form id="citruspay_form" method="post" action="https://www.citruspay.com/wnw4zo7md1">
				<input type="hidden" name="merchantAccessKey" value="FFY8AMUA98AR6E1NNHS9">
				<input type="hidden" name="secSignature">
				<input type="hidden" name="merchantTxnId" value="<%= rand(100000..10000000)%>">
				<input type="hidden" name="orderAmount">
				<input type="hidden" name="currency" value="INR">
				<input type="hidden" name="reqtime" value="<%= Time.now.to_i * 1000 %>">
				<input type="hidden" name="returnUrl" value="<%= root_url%>orders/create">
				<div class="control-group"> 
					<label></label>
					<div class="controls">
				 		<a class="btn create_order" data-attr="citrus_pay"> Confirm</a>
					</div>
				</div>
			</form>
			<!-- end of citruspay checkout form -->
		</div>



		<% if @user.ambassador.nil? && !@user.is_admin? %>
			<div id="ambassador">
				<div id="ambassador_caption">Please choose who referred you to our website</div>
				<div id="ambassador_select_box">
					<select id="ambassador_select">
						<option value=0>Choose your Referrer</option>
						<% @user.college.ambassadors.each do |ambassador| %>
							<option value="<%= ambassador.id %>"><%= ambassador.ambassador_manager.name %></option>
						<% end %>
					</select>
				</div>
			</div>
		<% end %>
	</div>
</div>

<div id="order_box" class="font-dialog">
	<div id="order_caption">Order Made</div>
	<div id="order_id">Thank you for your order. Your Order Number is <span></span><br>

		<div id="order_bank_cheque">, use this number when you make payment with cash and cheque for reference.</div>

		<div id="cash_on_delivery">, You would need to pay Rs. <span></span> at the time of delivery.You receive an email and SMS confirmation once the order is being shipped.
		</div>

		<div class="print_invoice">
				<a class="btn" target="_blank" data-attr="">Print Invoice </a>
		</div>
		
	</div>
</div>

<div id="compare_dialog_box" class="font-dialog">
	<div id="compare_dialog">
		<div id="search_to_compare">
			<div id="search_to_compare_caption">Add book to compare</div>
			<form id="compare_search_form">
			  <input type="text" id="compare_search_input" class="input-medium" placeholder="Search books">
			</form>
			<div id="compare_search_result"></div>
			<div id="compare_search_no_result">No books found.</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div id="user_dialog" class="font-dialog"></div>

<div id="intership_dialog" class="font-dialog">
	<h1>Interships</h1>
	<div id="companies">
		<% @companies.each do |company| %>
			<div class="company">
				<div class="company_left">
					<% if company.image %>
						<img src="<%= company.image.image %>" />
					<% else %>
						<img src="/assets/book.jpeg" />
					<% end %>
				</div>
				<div class="company_right">
					<div>Company: <%= company.name %></div>
					<div>Position: <%= company.offer_position %></div>
					<div>Stipend: <%= company.offer_stipend %></div>
					<% unless company.users.include?(@user) %>
						<a href="#" class="apply_intership" id="company_<%= company.id %>">Apply</a>
					<% else %>
						<div>You have applied for this intern.</div>
					<% end %>
				</div>
				<div class="clear"></div>
			</div>
		<% end %>
	</div>
</div>