<h3>Counter for <%= @counter.college.name %></h3>
<% @counter.college.orders.where(:order_type => "cash", :payment_done => false).each do |order| %>
	<div>
		<div>Order Number: <%= order.random %></div>
		<div>Order Amount: <%= order.total %></div>
		<a href="#" id="order_<%= order.id %>" class="order_confirm">Click to confirm reciept of amount</a>
	</div>
	<br/>
<% end %>

<br/>
<div><%= link_to "SignOut", destroy_counter_session_path, :method => :delete %></div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".order_confirm").click(function(){
			var that = this;
			var order_id = this.id.replace("order_", "");
			var c = confirm("Confirm");
			if(c){
				$.ajax("/orders/counter_cash_payment", {
					type:"post",
					async:true,
					data: {
						order_id: order_id
					},
					success: function(msg){
						if(msg.status == 1)
							$(that).parent().fadeOut(200);
//						alert(msg.msg);
					}
				});
			}
			return false;
		});
	});
</script>