<%= stylesheet_link_tag "index/application" %>
<%= stylesheet_link_tag "inner" %>
<%= javascript_include_tag "homepage/homepage" %>


<%= render "book_details_box" %>
<%= render "book_details_template" %>
<%= render "review_template" %>



<div id="loading_div">Loading ... Please wait</div>
<div class="video_content wrapper">
	<div class="grid_3_5">
		<h1 class="homepage_title">Why buy engineering textbooks, when you can <span class="tite_rent">RENT</span> at 75% Off?</h1>
		<h2 class="green"><b>Save loads of money. Feel Great. Be Smart.</b></h2>
		<a class="fb_big_logi left" href="/users/auth/facebook">
		</a>

	</div>
	<div class="grid_2_5">
		<div class="slider-wrapper">
    <div id="slider" class="nivoSlider">
      <img src="/assets/homeslide1.png">
			<img src="/assets/homeslide2.png">
			<img src="/assets/homeslide3.png">
	  </div>
</div>
	</div>
	<div class="cB"></div>
</div>


<div class="content">
	<div class="wrapper">

		<div class="search_wrap">
			<h2>Rent your books and Save thousands of Rupees</h2>
			<div class="searchbar">
				<form method="get" action="/search/" id="search">
					<input type="text" id="search_books_input" name="q"  placeholder="Enter Title, Author Name, ISBN" class="left search">
					<input id="search_books_input_hidden" type="hidden">
					<input type="submit" value="Search" class="left searchbutton">
					<input type="button" value="X" class="left btn" id="searchClose">
				</form>
			</div>
			<div class="cB"></div>
			<div id="search_books"></div>
		</div>

		<h1>How does it work?</h1>
		<div class="row">
			<div class="span5">
				<div class="info_icon icon1 left">
					<div></div>
				</div>
				<div class="left info_cont1">
					<h2>Rent all your text books the easiest way. Best prices.</h2>
					<span>Brand New Books. We’ll deliver directly to you all over India.</span>
				</div>
			</div>
			<div class="span5">
				<div class="info_icon icon2 left">
					<div></div>
				</div>
				<div class="left info_cont2">
					<h2>Keep the Books for the Whole Semester.</h2>
					<span>Rental period till the end of your exams. No strings attached.</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span5">
				<div class="info_icon icon3 left">
					<div></div>
				</div>
				<div class="left info_cont3">
					<h2>Online, Offline, Cash on Delivery.</h2>
					<span>We have multiple and simple payment options to make things easier.</span>
				</div>
			</div>
			<div class="span5">
				<div class="info_icon icon4 left">
					<div></div>
				</div>
				<div class="left info_cont4" style="margin-top: 15px;">
					<h2>Free Delivery & Pick-up Locations.</h2>
					<span>Drop location in your city to return the books. Ample time for returns.</span>
				</div>
			</div>
		</div>
		<div class="cB"></div>
		</div>
		<%= render '/layouts/wearewith' %>
	</div>
</div>


<div id="login_box" class="font-dialog">
	<div id="login_box_left">
		<div id="login_box_left_login" class="boxes">
			<div class="login_error_msg"></div><br>
			<%= render :template => "devise/sessions/new" %>
		</div>
		<div id="login_box_left_password" class="boxes">
			<%= render :template => "devise/passwords/new" %>
		</div>
		<div id="login_box_left_signup" class="boxes">
			<%= render :template => "devise/registrations/new" %>
		</div>
	</div>
	<div id="login_box_right">
				<a class="fb_big_logi" href="/users/auth/facebook"></a>
	</div>
	<div class="clear"></div>
</div>

<script src="/assets/jquery.tinycarousel.js"></script>
<script type="text/javascript">
$("document").ready(function(){

	var width = $(window).width();
	$("#book_details").dialog({
		autoOpen: false,
		draggable: false,
		height: 700,
		width: 1050,
		resizable: false,
    	modal: true,
    	close:function(){
    		window.location.hash ="";
    	}
  });

  $("#login_box").dialog({
		autoOpen: false,
		draggable: false,
		title:'Login',
		width: 650,
		resizable: false,
    modal: true
  });


  $('#slider').nivoSlider({
  	directionNav: false,
  	effect: 'slideInRight',
  	animSpeed: 0,
    pauseTime: 3000
  });

  // Sliding logos //
  if($("#gallery").length){
    // Declare variables
    var totalImages = jQuery("#gallery > li").length,
        imageWidth = jQuery("#gallery > li:first").outerWidth(true),
        totalWidth = imageWidth * totalImages,
        visibleImages = Math.round(jQuery("#gallery-wrap").width() / imageWidth),
        visibleWidth = visibleImages * imageWidth,
        stopPosition = (visibleWidth - totalWidth);

    jQuery("#gallery").width(totalWidth);

    jQuery("#gallery-prev").click(function(){
        if(jQuery("#gallery").position().left < 0 && !jQuery("#gallery").is(":animated")){
            jQuery("#gallery").animate({left : "+=" + imageWidth + "px"});
        }
        return false;
    });

    jQuery("#gallery-next").click(function(){
        if(jQuery("#gallery").position().left > stopPosition && !jQuery("#gallery").is(":animated")){
            jQuery("#gallery").animate({left : "-=" + imageWidth + "px"});
        }
        return false;
    });
  }
  var mouse_is_inside = false;

	$('.search_wrap').hover(function(){
      mouse_is_inside=true;
  }, function(){
      mouse_is_inside=false;
  });

	$("body").mouseup(function(){
	    if(! mouse_is_inside) {
	    	$('#search_books').hide();
	    	$("#searchClose").hide();
	    }
	});

	// search backbone object if isbn is provided in params
	<% unless @search.nil? %>
		search_object = new sociorent.models.search(<%= raw @search.to_json(:include => :publisher) %>);
		view = new sociorent.views.book_details({
			model: search_object
		});
		$("#book_details").append(view.render().el);
		$("#book_details").dialog("open");
	<% end %>
	$(".login_error_msg").html("");
	$("#login_box_left_login form").live("submit",function(){
		if($(this).valid())
		{
			$("#loading_div").fadeIn();
			$.ajax({
	      url: "/users/sign_in",
	      type:"post",
	      data:$("#login_box_left_login form").serialize(),
	      complete: function (jqxhr, txt_status) {
	      	if(jqxhr.status==200){
	      		location.reload();
	      	}
	      	else{
	      		$("#loading_div").fadeOut();
	      			$(".login_error_msg").html(jqxhr.responseText);

	      	}
	      }
	    });
	   }
		return false;

	});
	$(".forgot_password_form").live("submit",function(){
		$("#loading_div").fadeIn();
		$.ajax({
      url: "/users/password",
      type:"post",
      data:$(".forgot_password_form").serialize(),
      complete: function (jqxhr, txt_status) {
      	if(jqxhr.status==200){
      			$(".forgot_error").html("Check the Mail For Password Instructions");
      	}
      	else{
      			$(".forgot_error").html("Error Occured");
      	}

      	$("#loading_div").fadeOut();
      }
    });
    return false;
	})


	$("#book_details_box").dialog({
		autoOpen: false,
		draggable: false,
		height: "auto",
		title:"Book Details",
		width: 1050,
		resizable: false,
		modal: true,

		close:function(){
				window.location.hash ="";
			}

	});

	$('#slider-code').tinycarousel({ display: 2 });

});
</script>
<%= render :partial => "index_template" %>