<%= stylesheet_link_tag "index/application" %>

<div id="content">
  <div class="left">
  	
  	<!-- slider -->
  	<div class="slider-wrapper theme-default">
      <div id="slider" class="nivoSlider">
         <% @images.each do |image| %>
         		<img src='<%= image.image %>'/>
         <% end %>
      </div>
    </div>

  </div>
  <div class="right">
  	<div id="facebook_caption">
  		Connect with us.
  	</div>
  	<div id="facebook">
  		<%= link_to image_tag('/assets/facebook_256.png'), user_omniauth_authorize_path(:facebook) %>
  	</div>
    <div id="login_or">- OR -</div>
    <div id="normal_signup"><%= link_to "Sign Up", new_user_registration_url %></div>
    <div id="normal_signin"><%= link_to "Sign In", new_user_session_url %></div>
  </div>
  <div class="clear"></div>
</div>

<script type="text/javascript">
	$(document).ready(function(){

		$('#slider').nivoSlider({
      effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
      slices: 15, // For slice animations
      boxCols: 8, // For box animations
      boxRows: 4, // For box animations
      animSpeed: 500, // Slide transition speed
      pauseTime: 5000, // How long each slide will show
      startSlide: 0, // Set starting Slide (0 index)
      directionNav: true, // Next & Prev navigation
      controlNav: true, // 1,2,3... navigation
      controlNavThumbs: false, // Use thumbnails for Control Nav
      pauseOnHover: true, // Stop animation while hovering
      manualAdvance: false, // Force manual transitions
      prevText: 'Prev', // Prev directionNav text
      nextText: 'Next', // Next directionNav text
      randomStart: false, // Start on a random slide
    });

	});
</script>