<%= stylesheet_link_tag "inner" %>
<%= javascript_include_tag "inner/application" %>
<% if @user %>
  <div id="user">
    <div class="left">
      <div>Welcome, <%= @user.name %></div>
    </div>
    <div class="right">
      <div class="menu_button">
        <%= link_to "SignOut", destroy_user_session_path, :method => :delete %>
      </div>
      <div class="menu_button" id="compare_button">Compare</div>
      <div class="menu_button" id="cart_button">
      	<div class="cart_button_count"></div>
      	<div class="arrow-down"></div>
      	<div id="cart_button_total">
      		<div id="cart_button_total_left">Total: Rs.<span></span></div>
      		<div id="cart_button_total_right">Place Order</div>
      		<div class="clear"></div>
      	</div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
<% end %>
<div id="compare_box">
	<div id="compare"></div>
	<div id="compare_options">
		<div id="compare_dialog_button">Compare</div>
		<div id="compare_close">Close</div>
		<div class="clear"></div>
	</div>
</div>
<div id="content">
	<div id="content_search">
		
		<form id="search_books_form" class="form-search">
		  <input type="text" id="search_books_input" class="input-medium" placeholder="Enter Title, Author Name, ISBN">
		</form>
		<div class="clear"></div>
		<div id="search_books">
		</div>
		<div id="no_search_result">
			<form id="request_form">
			  <legend>Request a Book</legend>
			  <label></label>
			  <input id="request_title" type="text" placeholder="Book Title">
			  <input id="request_author" type="text" placeholder="Author">
			  <input id="request_isbn" type="text" placeholder="ISBN">
			  <button id="request_submit" type="submit" class="btn">Submit</button>
			</form>
			<div id="request_error"></div>
		</div>

	</div>
</div>

<%= render :partial => "template" %>

<%= render :partial => "dialog"  %>

<script type="text/javascript">
	$(document).ready(function(){

		// user model 
		sociorent.models.user_object.set(<%= raw @user.to_json(:include => {:college => {:only => :name}, :stream => {:only => :name}}) %>);
		sociorent.models.user_object.set({
			wishlist: $.parseJSON(sociorent.models.user_object.get("wishlist"))
		});
		view = new sociorent.views.user_dialog({
			model: sociorent.models.user_object,
		});
		$("#user_dialog").html(view.render().el);
		sociorent.fn.shipping_validation("profile_shipping_form");

		// use chosen plugin
		$("#profile_college").val(sociorent.models.user_object.get("college").name).chosen();
		$("#profile_streams").val(sociorent.models.user_object.get("stream").name).chosen();
		$("#profile_address_state").val(sociorent.models.user_object.get("address").address_state).chosen();
		// orders collection reset
		sociorent.collections.order_object.reset(<%= raw @orders.to_json(:include => {:books => {:only => [:name, :price, :author, :id]}, :book_orders => {:only => [:shipped, :tracking_number, :courier_name, :book_id]}}) %>);

		// cart collection reset 
		sociorent.collections.cart_object.reset(<%= raw @cart.to_json(:include => :publisher) %>);
		sociorent.fn.renderCart();
		//search collection reset
		sociorent.collections.search_object.reset(<%= raw @search.to_json(:include => :publisher) %>);
		sociorent.fn.renderSearch();
		// intelligent collection reset
		sociorent.collections.intelligent_object.reset(<%= raw @intelligent_books.to_json(:include => :publisher) %>);
		sociorent.fn.renderIntelligent();

		// 

		// setting width and height
		var width = $(window).width();

		// Provide some space between the window edges.
		width = width - 50;

		$("#book_details_box").dialog({
			autoOpen: false,
			draggable: false,
			height: 700,
			width: width,
			resizable: false,
			buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            },
      modal: true
		});

		$("#cart_box").dialog({
			autoOpen: false,
			draggable: false,
			height: 630,
			width: 820,
			resizable: false,
			modal: true
		});

		$("#checkout_box").dialog({
			autoOpen: false,
			draggable: false,
			height: 550,
			width: 700,
			resizable: false,
			modal: true
		});
		$("#shipping_details_box").dialog({
			autoOpen: false,
			draggable: false,
			height: 550,
			width: 700,
			resizable: false,
			modal: true
		});
		
		$("#order_box").dialog({
			autoOpen: false,
			draggable: false,
			height: 550,
			width: 700,
			resizable: false,
			modal: true
		});

		$("#compare_dialog_box").dialog({
			autoOpen: false,
			draggable: false,
			height: 700,
			width: 1100,
			resizable: false,
			buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            },
      modal: true
		});
		
		$("#user_dialog").dialog({
			autoOpen: false,
			draggable: false,
			dialogClass: 'user_dialog',
			height: 700,
			width: 1100,
			resizable: false,
			buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            },
      modal: true
		});


		$("#intership_dialog").dialog({
			autoOpen: false,
			draggable: false,
			dialogClass: 'user_dialog',
			height: 700,
			width: 1100,
			resizable: false,
			buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            },
      modal: true
		});

		$("#tabs").tabs();

		$("#ambassador_select").chosen();
		$("#bank_name").live("change",function(){
				$.get("/get_bank_details/"+$(this).val(),function(data){
					$("#bank_details").html(data);
				});
		});
		$("#profile_form").validate({
		  rules: {
		    name: {
		      minlength: 2,
		      required: true
		    },
		    mobile_number: {
		      required: true,
		      digits: true,
		      minlength: 10,
		      maxlength: 11
		    }
		  },
		  highlight: function(label) {
		    return $(label).closest(".control-group").addClass("error");
		  }
		});

	});
</script>