<%= stylesheet_link_tag "inner" %>
<%= javascript_include_tag "inner/application" %>
<% if @user %>
  <div id="user">
    <div class="left">
      <div style="width:100%">Welcome, <%= @user.name %></div>
    </div>
    <div class="right">
      <div class="menu_button">
        <%= link_to "SignOut", destroy_user_session_path, :method => :delete %>
      </div>
      <div class="menu_button" id="compare_button">Compare</div>
      <div class="menu_button" id="cart_button">
      	<div class="cart_button_count"></div>
      	<div class="arrow-down"></div>
      	<div id="cart_button_total">
      		<div id="cart_button_total_left">Total: Rs.<span></span></div>
      		<div id="cart_button_total_right">Place Order</div>
      		<div class="clear"></div>
      	</div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
<% end %>
<div id="compare_box">
	<div id="compare"></div>
	<div id="compare_options">
		<div id="compare_dialog_button">Compare</div>
		<div id="compare_close">Close</div>
		<div class="clear"></div>
	</div>
</div>
<div id="content">
	<div id="content_search">
		<div id="search_books_form_box">
			<form id="search_books_form" class="form-search">
			  <input type="text" id="search_books_input" class="input-medium" placeholder="Enter Title, Author Name, ISBN"><span class="search_icon"></span>
			  <input id="search_books_input_hidden" type="hidden">
			</form>
		</div>
		<div class="clear"></div>
		<div id="no_search_result">
			<div id="no_search_result_caption">No Books found.</div>
			<form id="request_form">
			  <legend>Request a Book</legend>
			  <label></label>
			  <input id="request_title" type="text" placeholder="Book Title">
			  <input id="request_author" type="text" placeholder="Author">
			  <input id="request_isbn" type="text" placeholder="ISBN">
			  <button id="request_submit" type="submit" class="btn">Submit</button>
			</form>
			<div id="request_error"></div>
		</div>
		<div id="search_books">
		</div>
	</div>

	<div id="load_more" class="center">Load more</div>

	<div id="go_top">Top</div>
</div>

<div id="notification">Loading...</div>

<%= render :partial => "template" %>

<%= render :partial => "dialog"  %>

<script type="text/javascript">
	$(document).ready(function(){

		// user model 
		sociorent.models.user_object.set(<%= raw @user.to_json(:include => {:college => {:only => :name}, :stream => {:only => :name}}) %>);
		sociorent.models.user_object.set({
			wishlist: $.parseJSON(sociorent.models.user_object.get("wishlist"))
		});
		view = new sociorent.views.user_dialog({
			model: sociorent.models.user_object,
		});
		$("#user_dialog").html(view.render().el);
		sociorent.fn.shipping_validation("profile_shipping_form");

		//autocomplete for colleges and streams
		$("#profile_college").autocomplete({
			source: "/get_colleges",
			minLength: 2,
			select: function(event, ui){
				$(this).attr("rel",ui.item.id);
			}
		});
		$("#profile_streams").autocomplete({
			source: "/get_streams",
			minLength: 2,
			select: function(event, ui){
				$(this).attr("rel",ui.item.id);
			}
		});

		// use chosen plugin
		$("#profile_address_state").val(sociorent.models.user_object.get("address").address_state).chosen();
		// orders collection reset
		sociorent.collections.order_object.reset(<%= raw @orders.to_json(:include => {:books => {:only => [:name, :price, :author, :id]}, :book_orders => {:only => [:shipped, :tracking_number, :courier_name, :book_id]}}) %>);

		// cart collection reset 
		sociorent.collections.cart_object.reset(<%= raw @cart.to_json(:include => :publisher) %>);
		sociorent.fn.renderCart();
		//search collection reset
		sociorent.collections.search_object.reset(<%= raw @search.to_json(:include => :publisher) %>);
		sociorent.fn.renderSearch();

		// load more
		<% unless @load_more %>
			$("#load_more").hide();
		<% end %>
		// setting width and height
		var width = $(window).width();

		// Provide some space between the window edges.
		width = width - 50;

		$("#book_details_box").dialog({
			autoOpen: false,
			draggable: false,
			height: 700,
			title:"Book Details",
			width: 1050,
			resizable: false,
      		modal: true,
      		close:function(){
      			window.location.hash="";
      		}

		});

		$("#cart_box").dialog({
			autoOpen: false,
			draggable: false,
			height: 700,
			title:"cart Details",
			width: 820,
			resizable: false,
			modal: true
		});

		$("#checkout_box").dialog({
			autoOpen: false,
			draggable: false,
			height: 550,
			title: "Checkout",
			width: 700,
			resizable: false,
			modal: true
		});
		$("#shipping_details_box").dialog({
			autoOpen: false,
			draggable: false,
			height: 600,
			title:"Shipping Details",
			width: 700,
			resizable: false,
			modal: true
		});
		
		$("#order_box").dialog({
			autoOpen: false,
			draggable: false,
			height: 550,
			title :"Orders",
			width: 700,
			resizable: false,
			modal: true
		});

		$("#compare_dialog_box").dialog({
			autoOpen: false,
			draggable: false,
			height: 700,
			width: 1100,
			title:"Compare Books",
			resizable: false,
      modal: true
		});
		
		$("#user_dialog").dialog({
			autoOpen: false,
			draggable: false,
			dialogClass: 'user_dialog',
			height: 700,
			title:"My Profile",
			width: 1100,
			resizable: false,
      modal: true
		});


		$("#intership_dialog").dialog({
			autoOpen: false,
			draggable: false,
			dialogClass: 'user_dialog',
			height: 700,
			width: 1100,
			resizable: false,
      modal: true
		});


		$("#tabs").tabs();

		$("#ambassador_select").chosen();
		$("#bank_name").live("change",function(){
				$.get("/get_bank_details/"+$(this).val(),function(data){
					$("#bank_details").html(data);
				});
		});

		$("#profile_form").validate({
		  rules: {
		    name: {
		      minlength: 2,
		      required: true
		    },
		    mobile_number: {
		      remote: 'validate/mobile_number',
		      required: true,
		      digits: true,
		      minlength: 10,
		      maxlength: 11
		    }
		  },
		  highlight: function(label) {
		    return $(label).closest(".control-group").addClass("error");
		  },
		  focusCleanup: true
		});
		$("#citrus_payment_mode").live("change",function(){
			if($(this).val()=="NET_BANKING")
			{
				$(".citrus_bank").slideDown();
				$(".citrus_card").slideUp();
			}
			else
			{
				$(".citrus_bank").slideUp();
				$(".citrus_card").slideDown();

			}
		});
		$(".citrus_card").hide();

		$("#user").sticky({topSpacing:0});
		$("#search_books_form_box").sticky({topSpacing:42});

	});
$.fn.serializeJSON=function() {  
    var json = {};  
    $.map($(this).serializeArray(), function(n, i){  
        json[n['name']] = n['value'];  
    });  
    return json;  
}; 
</script>