<%= stylesheet_link_tag "inner" %>
<div class="left">
	<div id="intelligent_books_caption">
		Intelligent Books
	</div>
	<div id="intelligent_books">
		<div class="intelligent_books_single"><%= image_tag "/assets/book.jpeg" %></div>
		<div class="intelligent_books_single"><%= image_tag "/assets/book1.jpeg" %></div>
		<div class="intelligent_books_single"><%= image_tag "/assets/book2.jpeg" %></div>
		<div class="intelligent_books_single"><%= image_tag "/assets/book3.jpeg" %></div>
		<div class="intelligent_books_single"><%= image_tag "/assets/book.jpeg" %></div>
		<div class="intelligent_books_single"><%= image_tag "/assets/book1.jpeg" %></div>
		<div class="intelligent_books_single"><%= image_tag "/assets/book2.jpeg" %></div>
		<div class="intelligent_books_single"><%= image_tag "/assets/book3.jpeg" %></div>
		<div class="intelligent_books_single"><%= image_tag "/assets/book1.jpeg" %></div>
		<div class="intelligent_books_single"><%= image_tag "/assets/book2.jpeg" %></div>
		<div class="intelligent_books_single"><%= image_tag "/assets/book3.jpeg" %></div>
	</div>
</div>
<div class="right">
	<form class="form-search search_books_form">
	  <input type="text" class="input-medium search-query search_books_input" placeholder="Search books">
	</form>
	<div id="search_books">
		<div class="search_books_single"><%= image_tag "/assets/book.jpeg" %></div>
		<div class="search_books_single"><%= image_tag "/assets/book1.jpeg" %></div>
		<div class="search_books_single"><%= image_tag "/assets/book2.jpeg" %></div>
		<div class="search_books_single"><%= image_tag "/assets/book3.jpeg" %></div>
		<div class="search_books_single"><%= image_tag "/assets/book.jpeg" %></div>
		<div class="search_books_single"><%= image_tag "/assets/book1.jpeg" %></div>
		<div class="search_books_single"><%= image_tag "/assets/book2.jpeg" %></div>
		<div class="search_books_single"><%= image_tag "/assets/book3.jpeg" %></div>
		<div class="search_books_single"><%= image_tag "/assets/book1.jpeg" %></div>
		<div class="search_books_single"><%= image_tag "/assets/book2.jpeg" %></div>
		<div class="search_books_single"><%= image_tag "/assets/book3.jpeg" %></div>
	</div>
</div>
<div class="clear"></div>
<div id="suggested_books_caption">
	Suggested Books
</div>
<div id="suggested_books">
	<div class="suggested_books_single"><%= image_tag "/assets/book.jpeg" %></div>
	<div class="suggested_books_single"><%= image_tag "/assets/book1.jpeg" %></div>
	<div class="suggested_books_single"><%= image_tag "/assets/book2.jpeg" %></div>
	<div class="suggested_books_single"><%= image_tag "/assets/book3.jpeg" %></div>
	<div class="suggested_books_single"><%= image_tag "/assets/book.jpeg" %></div>
	<div class="suggested_books_single"><%= image_tag "/assets/book1.jpeg" %></div>
	<div class="suggested_books_single"><%= image_tag "/assets/book2.jpeg" %></div>
	<div class="suggested_books_single"><%= image_tag "/assets/book3.jpeg" %></div>
</div>