<%= stylesheet_link_tag "interships" %>
<%= javascript_include_tag "internships" %>
<div id="content">
	<h1>Interships</h1>
	<div id="companies">
		<% @companies.each do |company| %>
			<div class="company">
				<div class="company_left">
					<% if company.image %>
						<img src="<%= company.image.image %>" />
					<% else %>
						<img src="/assets/book.jpeg" />
					<% end %>
				</div>
				<div class="company_right">
					<div>Company: <%= company.name %></div>
					<div>Position: <%= company.offer_position %></div>
					<div>Stipend: <%= company.offer_stipend %></div>
					<a href="#" class="apply" id="company_<%= company.id %>">Apply</a>
				</div>
				<div class="clear"></div>
			</div>
		<% end %>
	</div>
</div>