<%= stylesheet_link_tag "home/print_label", :media => 'print, screen' %>
<%= stylesheet_link_tag "global/bootstrap.min.css", :media => 'print, screen' %>
<div class="container box_sizing" id="main_wrapper">
	<div class="span10">
		<p id="logo">
		<span id="logo_text">
		<img src="assets/Sociorent.png" /> <br>
		Sociorent Student Services Private Limited
		</span>
		<span id="invoice_title">INVOICE</span>
		</p>
		<p id="divider">===================================================================================================
	</div>
	<div class="span10">
		<div class="span4">
			<b>Sociorent.com</b>, <br>Manyata Embassy Business Park, Magnolia,
Block B, Level 4, Outer Ring Road, Nagawara, Bangalore – 560 045.
Phone: +91-7353-11-2345.
		<br><br>
		<b>Payment Mode : <%=@order.order_type.capitalize%></b>
		</div>
		<div class="span5">
		<p class="span5" id="order_number_invoice">
			<b>Order: <%= @order.random%></b><br>
			Date: <%= @shipped.first.shipped_date.strftime("%d/%m/%Y")%><br>
			Customer ID : <%= @order.user.id %><br>
			</p>

			<p class="span5" id="user_invoice_address">
				<b>Delivery Addresss : To
		<%= @order.user.name %></b> <br>
		<% addr=JSON.parse @order.user.address%>
		<% addr.each do |k,v| %>
		  <%=v%><br>
		<% end %>
	</p>

	</div>
	<div class="span10" id="books_list">
		<table class="table table-striped">
      <thead>
        <tr>
          <th>Qty</th>
          <th>ISBN</th>
          <th>TITLE</th>
          <th>MRP</th>
          <th>RENT</th>
          <th>TOTAL</th>
        </tr>
      </thead>
      <tbody>
      	<%mrp_total=0%>
      	<%rent_total=0%>
      	<% @shipped.each do |book_order| %>
      		<% book = book_order.book %>
	        <tr>
	          <td>1</td>
	          <td><%=book.isbn13%></td>
	          <td><%=book.name%></td>
	          <td><%=book.price%></td>
	          <td><%=book.rent%></td>
	          <td><%=book.price%></td>
	          <% mrp_total += book.price.to_i %>
	          <% rent_total += book.rent.to_i %>
	        </tr>
        <% end %>
        	<tr>
        		<td colspan='4' class="total">Total</td>
        		<td><%=rent_total%></td>
        		<td><%=mrp_total%></td>
        	</tr>
        	<tr>
        		<td colspan='5' class="total">Net Refundanle Deposit</td>
        		<td><b><%=mrp_total-rent_total%></b></td>
        	</tr>
        	<tr>
        		<td colspan='5' class="total">Shipping Charge (order value less than Rs.1000)</td>
        		<td>
        			<% if @shipping_added %>
        				50 
        			<%else%> 
        				-
        			<%end%>
        		</td>
        	</tr>
        	<tr>
        		<td colspan='5' class="total">TOTAL AMOUNT</td>
        		<td><b><%=@shipped_amount%></b></td>
        	</tr>
      </tbody>
    </table>
	</div>
	<div class="span10">
		<p>
			**** Please refer to the terms of use and privacy policy in the website<br>
			**** Please retain this invoice for your reference
		</p>
	</div>
	<div class="span10">
		<p id="footer">
			<b>THANK YOU FOR YOUR CHOOSING SOCIORENT AS YOUR RENTING PARTNER!</b>
		</p>
		<p>******* This is a Computer Generated Inovice, doesn't require a Signature *******</p>
	</div>
</div>
