
	<% if session[:isadmin]%>

		<%	waiting_count     = P2p::Item.waiting.count  %>
		<%	disapproved_count = P2p::Item.disapproved.count  %>
		<%	approved_count    = P2p::Item.approved.count  %>
		<%	sold_count        = P2p::Item.sold.count  %>

	<% else %>

		<%	waiting_count     = p2p_current_user.items.waiting.count  %>
		<%	disapproved_count = p2p_current_user.items.disapproved.count  %>
		<%	approved_count    = p2p_current_user.items.approved.count  %>
		<%	sold_count        = p2p_current_user.items.sold.count  %>

	<% end %>


	<% waiting_count = (waiting_count != 0) ? "(#{waiting_count})" : "" %>
	<% approved_count = (approved_count != 0) ? "(#{approved_count})" : "" %>
	<% disapproved_count = (disapproved_count != 0) ? "(#{disapproved_count})" : "" %>
	<% sold_count = (sold_count != 0) ? "(#{sold_count})" : "" %>



<li class="nav-header">Menu</li>
<li class="<%= (params[:action] == "dashboard") ? "active" : "" %>"> <a href="/p2p/dashboard"> <i class="icon-dashboard"></i> Dashboard</a></li>
<li class="<%= (params[:action] == "inventory" and !params.has_key?(:query)) ? "active" : "" %>"><a href="/p2p/mystore"><i class="icon-shopping-cart "></i>My Store</a></li>
<li class="<%= (params[:action] == "favouriteusers") ? "active" : "" %>"><a href="/p2p/favourites"><i class="icon-star "></i>My Favourites</a></li>
<li class="<%= (params[:action] == "paymentdetails" and params.has_key?(:bought)) ? "active" : "" %>"> <a href="/p2p/paymentdetails/bought"><i class="icon-money "></i>Bought History</a></li>
<li class="<%= (params[:action] == "paymentdetails" and !params.has_key?(:bought)) ? "active" : "" %>"><a href="/p2p/paymentdetails"><i class="icon-money "></i>Sold History</a></li>

<% if session[:user_type] = 1%>
	<li class="<%= (params[:action] == "downloadtemplate") ? "active" : "" %>"><a href="/p2p/gettemplate"><i class="icon-table "></i>Bulk Upload</a></li>
	<li class="<%= (params[:action] == "failed_uploads") ? "active" : "" %>"><a href="/p2p/faileduploads"><i class="icon-ban-circle "></i>Failed Uploads</a></li>
	
<% end %>

<!-- <li class="divider"></li>

<li class="nav-header">Your Items</li>
<li class="<%= (params[:action] == "inventory" and params.has_key?(:query) and params[:query] == "sold" ) ? "active" : "" %>" ><a href="/p2p/approve"><a href="/p2p/mystore/sold"><i class="icon-ok-circle"></i>Sold <%= sold_count%> </a></li>
<li class="<%= (params[:action] == "approve") ? "active" : "" %>" ><a href="/p2p/approve"> <i class="icon-certificate text-success" style="color:green;"></i> Approved <%= approved_count%> </a></li>
<li class="<%= (params[:action] == "disapprove") ? "active" : "" %>" ><a href="/p2p/approve"><a href="/p2p/disapprove"><i class="icon-certificate text-error" ></i>Disapproved<%= disapproved_count%> </a></li>
<li class="<%= (params[:action] == "waiting") ? "active" : "" %>" ><a href="/p2p/approve"><a href="/p2p/waiting "><i class="icon-certificate info text-info" ></i>Waiting <%= waiting_count%> </a></li>
 -->
<li class="divider"></li>
<% if session[:isadmin] %>
  <li class="nav-header">Admin</li>
  <li><a href="/p2p/admin/categories"><i class="icon-book"></i>Categories</a></li>
  <li><a href="/p2p/admin/products"><i class="icon-tasks"></i>Products</a></li>
  <li><a href="/p2p/admin/specs"><i class="icon-reorder"></i>Specs</a></li>
  <li><a href="/p2p/admin/service_pincodes"><i class="icon-globe"></i>Pincodes</a></li>
  <li><a href="/p2p/admin/item_deliveries"> <i class="icon-money"></i>Payments</a></li>
	<li class="<%= (params[:action] == "vendorsdetails") ? "active" : "" %>"><a href="/p2p/vendors"><i class="icon-group "></i>Vendors</a></li>

  <li><a href="/p2p/admin/jobs"><i class="icon-spinner"></i>Background Tasks</a></li>
  <li><a href="#static_page" data-toggle="modal"><i class="icon-edit"></i>Static pages</a></li>

<% end %>

<!-- Static page Model -->

<div id="static_page" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <ul class="nav nav-tabs">
		  <li><a href="#new" data-toggle="tab">New</a></li>
		  <li><a href="#edit" data-toggle="tab">Edit</a></li>
		</ul>
		<div class="tab-content">
		  <div class="tab-pane active" id="new">
		  	<%= render :template => "static_pages/new" %> 
		  </div>
		  <div class="tab-pane" id="edit">
				<%= render :template => "static_pages/edit" %> 
		  </div>
		</div>
  </div>
</div>
