<% content_for :pagetitle  do %>

  
  Payments 
    
<%end %>


<div class="row" id="body_content" >

     <div class="span2">

      <ul class="nav nav-list">

        <%= render "/p2p/users/dashboard_menu.html.erb" %>
        <%= render "/p2p/index/scat_menu" %>

      </ul>
    </div>


<div class="span10">

            <h1>Payment Details</h1>

            <%= will_paginate(@payments) %>
            <table class="table table-striped table-bordered">
              <tr>

                <th>Item Title</th>
                <th>Courier Name</th>
                <th>Tracking Num</th>
                <th>Shipping Date</th>
            <%if !params.has_key?(:bought)%>
                <th>Commission</th>
                <th>Shipping Charge</th>
            <% end %>
                <th>Deleviry Date</th>

                <th></th>

              </tr>

            <% @payments.each do |p2p_item_delivery| %>
              <tr>

                
                <td><%= p2p_item_delivery.item.title %></td>


                <td><%= p2p_item_delivery.courier_name %></td>
                <td><%= p2p_item_delivery.tracking_no %></td>
                <td><%= p2p_item_delivery.shipping_date %></td>

            <%if !params.has_key?(:bought)%>

                <td>

                    <%= p2p_item_delivery.commission %>
                </td>

                <td>
                    <%= p2p_item_delivery.shipping_charge %>
                    
                </td>

            <% end %>

            <td><%= p2p_item_delivery.delivery_date %></td>


                <td>
                    <%= link_to 'Edit', edit_p2p_item_delivery_path(p2p_item_delivery) %>

                </td>

              </tr>
            <% end %>
            </table>


            <%= will_paginate(@payments) %>
            <br />

            <%#= link_to 'New Item delivery', new_p2p_item_delivery_path %>
</div>