<%= stylesheet_link_tag "orders/print_invoice", :media => 'print, screen' %>

<div id="container">
	<div id="logo">
		<img src="http://sociorent.com/assets/Sociorent.png" />
	</div>
	<div class="order_heading">
		<div class="order_heading_left">
			<p>Sociorent Student Services Pvt. Ltd.,</p>
			<p>Manyata Embassy Business Park,</p>
			<p>Magnolia, Block B, Level 4,</p>
			<p>Outer Ring Road,</p>
			<p>Nagawara,</p>
			<p>Bangalore - 560045</p>
			<p>Phone: +91-7353-11-2345</p>
		</div>

		<div class="order_heading_right">
			<% address=JSON.parse(@user.address)%>
			<p><%= @user.name %></p>
			<p><%= address["address_street_name1"]%></p>
			<p><%= address["address_street_name2"]%></p>
			<p><%= address["address_city"]%></p>
			<p><%= address["address_state"]%> - <%= address["address_pincode"]%> </p>
		</div>
		<div class="clear"></div>
		<p><b>Order No</b> : <%= @order.random %></p>
				<div class="clear"></div>

		<div id="cart_header" >
			<div id="cart_header_book">Book</div>
			<div id="cart_header_isbn">ISBN</div>
			<div id="cart_header_rental_amount">Rental Amount</div>
			<div id="cart_header_rental_deposit">Rental Deposit</div>
		</div>
		<div class="clear"></div>
	<div id="cart">
	<% books = @order.books %>
	<% books.each do |book| %>
		<div class="cart_single">
			<div class="cart_name">
				<div class="cart_name_name"><%= book.name %></div>
				<div class="cart_name_author">by <%=book.author %></div>
			</div>
			<div class="cart_isbn">
				<%= book.isbn10 %>
			</div>
			<div class="cart_price">
				Rs. <%= ((book.price.to_i * book.publisher.rental.to_i)/100.to_f).ceil %>
			</div>
			<div class="cart_price">
				Rs. <%= book.price %>
			</div>
					<div class="clear"></div>
		</div>
		<div class="clear"></div>
	<% end %>
	</div>
	<div class="rental_total">Rental Amount: Rs.<%= @order.rental_total %></div>
	<div class="deposit_total">Rental Deposit (refundable): Rs.<%= @order.deposit_total - @order.rental_total %></div>
	<div class="clear"></div>
	<div class="total">Total: Rs.<%= @order.total %> <i>(Shipping Charge Rs.50 if Rental deposit less than Rs.1000)</i></div>
</div>
<script type='text/javascript'>
	window.print();
</script>


