<%= stylesheet_link_tag "orders/print_invoice.css.scss" %>
<div class="order_heading">
	<div class="order_heading_left">
		<p>Sociorent.Com</p>
		<p>Address Street</p>
		<p>Addres</p>
		<p>TamilNadu</p>
	</div>
		Order No : <%= @order.random %></div>
	<div class="order_heading_right">
	<% address=JSON.parse(@user.address)%>
		<p><%= address["address_street_name1"]%></p>
		<p><%= address["address_street_name2"]%></p>
		<p><%= address["address_city"]%></p>
		<p><%= address["address_state"]%> - <%= address["address_pincode"]%> </p>
	</div>
	<div class="clear"></div>
</div>
<div id="cart_header" style="display: block;">
		<div id="cart_header_book">Book</div>
		<div id="cart_header_isbn">ISBN</div>
		<div id="cart_header_rental_amount">Rental Amount</div>
		<div id="cart_header_rental_deposit">Rental Deposit</div>
</div>
<div id="cart">
<% books = @order.books %>
<% books.each do |book| %>
	<div class="cart_single">
		<div class="cart_name">
			<div class="cart_name_name"><%= book.name %></div>
			<div class="cart_name_author">by <%=book.author %></div>
		</div>
		<div class="cart_isbn">
			<%= book.isbn10 %>
		</div> 
		<div class="cart_price">
			Rs. <%= (book.price.to_i * book.publisher.rental.to_i)/100 %>
		</div>
		<div class="cart_price">
			Rs. <%= book.price %>
		</div>
	</div>
<% end %>
</div>
	<div class="rental_total">Rental Amount: Rs.<%= @order.rental_total %></div>
	<div class="deposit_total">Rental Deposit (refundable): Rs.<%= @order.deposit_total %></div>
	<div class="clear"></div>
	<div class="total">Total: Rs.<%= @order.total %> <i>(Shipping Charge Rs.50 if Rental deposit less than Rs.1000)</i></div>


