<% url = (@p2p_category.new_record?) ? street_categories_path : street_category_path(@p2p_category) %>
<%= simple_nested_form_for @p2p_category, :url=>url  do |f| %>
 	<%= f.input :name%>
 	<%= f.input :priority %>
 	<%= f.input :courier_charge %>
 	<%= f.input :commission %>
	<%= f.association :category %>
	<table class="table table-striped table-bordered ">
		<thead>
			<tr>
				<th class="span2">Product Name</th>
				<th class="span1">Action</th>
			</tr>
		</thead>
		<tbody>

		<%= f.fields_for :products  ,:wrapper => false do |product| %>
			<tr>
				<td> <%= product.hidden_field :id %> </td>
				<td> <%= product.text_field :name %> </td>
				<td>
					<%= product.link_to_remove '<i class="icon-trash"></i>'.html_safe %>

				</td>
			</tr>
		<% end %>

		<tr>
			<td colspan=2>
				<%= f.link_to_add "Add a Product", :products, class: "btn" %>

			</td>
		</tr>
		</tbody>
	</table>

	<table class="table table-striped table-bordered ">
		<thead>
			<tr>
				<th class="span5">Specification</th>
				<th class="span5">Example</th>
				<th class="span1">Show Filter</th>
				<th class="span1">Action</th>
			</tr>
		</thead>
		<tbody>
			<%= f.fields_for  :specs ,:wrapper => false do |spec| %>
				<tr>
					<td> <%= spec.text_field  :name %></td>
	  				<td>
	  					<%= spec.input  :placeholder , :label=>false %>
	  				</td>
	  				<td>
	  					<%= spec.input  :show_filter , :label=>false %>
	  				</td>
	  				<td>
	  					<%= spec.link_to_remove '<i class="icon-trash"></i>'.html_safe %>
	  				</td>
				</tr>
			<% end %>
			<tr>
				<td colspan =3>
					<%= f.link_to_add "Add a Spec", :specs, class: "btn"%>
				</td>
			</tr>
		</tbody>
	</table>

	<%= f.submit :class =>"btn" %>

<% end %>


<script>
$(document).ready(function(){

	window.NestedFormEvents.prototype.insertFields = function(content, assoc, link) {
  		var $tr = $(link).closest('tr');
  		var ret= $(content).insertBefore($tr);


  		$tr =$tr.prev();

		$tr.find('a').click(window.NestedFormEvents.prototype.removeFields);

  		if ($tr.find('td:first input[type="hidden"]').length == 0) {
  			return ret;
  		}

  		$tr.find("td:nth-child(2)").append($tr.find("td:first").html());
  		$tr.find("td:first").remove();

  		return ret;
	}

	window.NestedFormEvents.prototype.removeFields = function(e){
		var  $link =  $(e.currentTarget);
		assoc = $link.data('association'); // Name of child to be removed

		var hiddenField = $link.prev('input[type=hidden]');
      	hiddenField.val('1');

      	var field = $link.closest('tr');
      	field.hide();

      	field
        .trigger({ type: 'nested:fieldRemoved', field: field })
        .trigger({ type: 'nested:fieldRemoved:' + assoc, field: field });

      	return false;
	}

	$("[id^=p2p_category_products_attributes]").live('change',function(){
		if ($(this).val().indexOf('-') != -1){
			$(this).val('');
			alert('Product Name cannot contain - ');
		}
	});

	$("[id^=p2p_category_products_attributes]").live('change',function(){
		if ($(this).val().indexOf('-') != -1){
			$(this).val('');
			alert('Product Name cannot contain - ');
		}
	});

	$("#new_p2p_category").submit(function(){
		if ($("#p2p_category_name").val() == ''){
			alert('Enter a Category Name');
			return false;
		}

		if ($("#p2p_category_name").val().indexOf() != -1){
			alert('Name cannot -');
			return false;
		}
	});


});
</script>