	<tr id="new_spec_holder"></tr>

		<%done = true %>

		<%@attributes.each do |attr| %>
				<tr class="cat_spec">
					<td > <%= attr.name  %></td>
					<td >
						<span class="specification canEdit" title="Enter <%= attr.name %>" specname="<%= attr.name %>" specid="<%= attr.id.to_s %>"  data-placement="right" data-placeholder="Enter <%= attr.name %>"  id="item_<%= attr.id %>" >
					</span>

					<!-- give isbn fetch on default -->
				<script>
					<% if done and attr.name.downcase.starts_with?("isbn") and attr.name.index('13') != nil  %>

							$('#model').closest('tr').find('td:first').text('Book Type');

							$("#item_<%=attr.id%>").editable('show');

							$("#item_<%=attr.id%>").on("save",function(e,params){
								// load books
								showNotifications('Fetching book deatils');

								$.ajax({
									url:'/street/getbook_details/' + params.newValue,
									type:"post",
									dataType:'json',
									success:function(data){

										// reset all values
										if (data == null || data.length == 0 ){
											$('.canEdit').editable();
										}
										else{

											_.each(data,function(elm){
												if ($.trim(elm) == ''){
													elm = ''
												}
											});

											$("#price").text(data['price']);
											$('#desc_content').text(data['description']);
											$('#item_1').text(data['publisher']);
											$('#item_2').text(data['isbn13']);
											$('#item_3').text(data['isbn10']);
											$('#item_4').text(data['pages']);
											$('#item_5').text(data['author']);

											window.item_values['price'] = data['price'];
											window.item_values['desc'] = data['description'];
											window.item_values['spec']['1'] = data['publisher'];
											window.item_values['spec']['3'] = data['isbn10'];
											window.item_values['spec']['4'] = data['pages'];
											window.item_values['spec']['5'] = data['author'];

										$('#notificationcontainer').notify('create',{
											title:'Helping you out..!',
											text: 'Specifications are prefilled, change them if you need.'
										});

										}
									},
									error:function(){
										showNotifications('Some error occured Try again');
									}
								});

							 });//item save

							<% done = false %>
					<% end %>
				</script>

					</td>
				</tr>
		<% end %>