  <%= stylesheet_link_tag '/assets/p2p/header' %>
<div id="header" class="row">
  <div class="span2"><a href="/p2p"><img src="/assets/p2p/index/p2p_logo.png" alt="Logo" ></a></div>
  <div class="span4">
    <div class="input-append">
      <input id="top_search_input" type="text" class="span4" autocomplete="off">
      <span class="add-on"><i class="icon-search"></i></span>
    </div>
  </div>
  <div class="span6" id="menuSet">
    <div class="span6" id="menuSet">
      <div class="navbar pull-right">
        <ul class="nav">

          <% unless current_user.nil? %>

          <% if params[:action] == 'index'  and params[:controller]== 'p2p/messages'%>
              <li class="head_active">
                <% unread_count = (p2p_current_user.nil?) ? 0 :  p2p_current_user.received_messages.inbox.unread.count %>



                <a href="/p2p/messages">
                  <div id="header_msg_count"> <%= unread_count if  unread_count > 0  %> </div>
                  <span class="pull-left" >Messages</span>
                </a>
              </li>

          <% else %>
              <li>
                <% unread_count = (p2p_current_user.nil?) ? 0 :  p2p_current_user.received_messages.inbox.unread.count %>
                <a href="/p2p/messages">
                  <div id="header_msg_count"> <%= unread_count if  unread_count > 0  %> </div>
                  <span class="pull-left" >Messages</span>
                </a>
              </li>

          <% end %>

          

          <% if params[:action] == 'dashboard' %>
            <li class="head_active">
              <a href="/p2p/dashboard">Dashboard</a></li>
          <% else %>
            <li><a href="/p2p/dashboard">Dashboard</a></li>
          <% end %>
          

          <% if params[:action] == 'new'  and params[:controller]== 'p2p/items'%>
            <li class="head_active"><a href="/p2p/sellitem">List New Item</a></li>
          <% else %>
            <li><a href="/p2p/sellitem">List New Item</a></li>
          <% end %>


          
          
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%=current_user.name%><b class="caret"></b>
              </a>
              <ul class="dropdown-menu submenu">
                <li><a href="#">My Profile</a></li>
                <li><%= link_to "SignOut", destroy_user_session_url, :method => :delete %></li>
                
              </ul>
            </li>

            <% else %>
              <li><a href="/login">Login</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- set the container hidden to avoid a flash of unstyled content
when the page first loads -->
<div id="notificationcontainer" style="display:none">
 
    <!-- 
    Later on, you can choose which template to use by referring to the 
    ID assigned to each template.  Alternatively, you could refer
    to each template by index, so in this example, "basic-tempate" is
    index 0 and "advanced-template" is index 1.
    -->
    <div id="simple_notification">
        <a class="ui-notify-cross ui-notify-close" href="#">x</a>
        <h1><i class="action icon-envelope icon-white"></i> #{title}</h1>
        <p>#{text}</p>
    </div>

     <div id="new_message_notification">
        <a class="ui-notify-cross ui-notify-close" href="#">x</a>
        <h1><i class="action icon-envelope icon-white"></i> You have a new message from #{username}</h1>
        <p style="margin:10px;">#{msg}</p>
    </div>

     <div id="new_item_notification">
        <a class="ui-notify-cross ui-notify-close" href="#">x</a>
        <h1><i class="action icon-envelope icon-white"></i> You have a listed a new item #{title}</h1>
        <p style="margin:10px;">#{msg}</p>
    </div>
 
</div>

<script>

  $(document).ready(function(){
      $("#notificationcontainer").notify();

  });

</script>
  
<%= javascript_include_tag '/assets/p2p/search'%>

