  <%= stylesheet_link_tag '/assets/p2p/header' %>

<!-- Header -->
  <div class="topbar">
    <div class="wrapper">
      <div class="grid_1">
        <div class="pull-left">
          <a class="pull-left logo" href="/p2p/"><h1>sociorent</h1></a><br>
        </div>
        <div class="topbar_right pull-right">
          <div>

            
            <div id="menuSet" class="span7 pull-right">
                <li class="pull-left location_li">
                    <i class="icon-globe"></i><%=select_tag "user_location" ,options_for_select( P2p::City.all.collect{|city|  [city.name,city.id]} , p2p_get_user_location ),:prompt=>"Your Location?"%>

                  </li>


              <% if p2p_current_user %>


                  
        
                  <li class="action-icon" title="Messages" data-placement="bottom">
                    <% unread_count = (p2p_current_user.nil?) ? 0 :  p2p_current_user.received_messages.inbox.unread.count %>
                    <a href="/p2p/messages"><i class="icon-envelope"></i> Messages
                      <span id="header_msg_count"><%= "(#{unread_count})" if  unread_count > 0  %><span>
                  </li>
                  <li class=" action-icon" title="Dashboard" data-placement="bottom"><a href="/p2p/dashboard"><i class="icon-dashboard"></i>Dashboard</a></li>
                  <li class=" action-icon" title="List New Item" data-placement="bottom"><a href="/p2p/sellitem"><i class="icon-shopping-cart"></i>Sell Item</a></li>
                  <li class=" action-icon" title="Sign out" data-placement="bottom">
                    <%= link_to "<i class='icon-signout'></i> Sign Out".html_safe, destroy_user_session_path, :method => :delete %>
                  </li>
            
                <% end %>

            </div>
        </div>


          <nav class="main_nav pull-right">
            <ul>
              <!-- <li><a href="#faq_page" class="static_page_dialog_open">FAQ</a></li>
              <li><a href="#universities" class="open_university">UNIVERSITIES</a></li> -->
              <li><a href="http://www.sociorent.com/blog">BLOG</a></li>
              <% if current_user %>
                <li><a href="#" class="selected" id="my_account_button"><%= current_user.name %></a></li>
              <% else %>
                <li>
                  <a href="#head_login_modal" class="selected " role="button" data-toggle="modal">Login</a>
                </li>
              <% end %>
            </ul>
          </nav>
          <div class="clearfix"></div>

          <div class="contact_socio pull-right">
            <a href="mailto:care@sociorent.com"><img src="/assets/index/mail_icon.png">care@sociorent.com</a> | <img src="/assets/index/phone.png">+91-73531-12345
          </div>
        </div>
      </div>
    </div>
    <div class="cB"></div>
       <%= render '/layouts/p2p/p2p_user_bar' %>
    </div>

<!--
  <%#= request.env["HTTP_REFERER"]  %>

<div id="header" class="row">
  <div class="span2"><a href="/p2p"><img src="/assets/p2p/index/p2p_logo.png" alt="Logo" ></a></div>
  <div class="span4">
    <div class="input-append input-prepend">
        <span class="add-on " id="head_user_location"  cityid="<%= (session.has_key?(:city_id)) ? session[:city_id] : "" %>" >

            <i class="icon-globe action_icon " data-placement="bottom" data-title="<%= (session.has_key?(:city)) ? session[:city] : "Choose your location now" %>"></i>
        </span>

          <div class="modal hide fade" id="location_modal">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3>Select your Location</h3>
            </div>
              <div class="modal-body">
              <p><%=select_tag "user_location" ,options_for_select( P2p::City.all.collect{|city|  [city.name,city.id]})%></p>
            </div>
            <div class="modal-footer">
              <a href="#" id="location_modal_save" class="btn btn-primary">Save changes</a>
            </div>
          </div>


      <input id="top_search_input" type="text" class="span4" autocomplete="off" placeholder="Search Peer to peer">
      <span class="add-on"><i class="icon-search"></i></span>
    </div>
  </div>

-->
                <div id="head_login_modal" class="modal hide fade span9" tabindex="-1" role="dialog" aria-labelledby="head_login_modalLabel" aria-hidden="true">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="head_login_modalLabel">Login</h3>
                </div>

                <div class="modal-body span7" id="login_popup_content">

                  <div class="pull-right">
                        <a class="fb_big_logi" href="/users/auth/facebook"></a>
                  </div>

                  <div id="login_box" class="boxes">
                    <%= render :template => "devise/sessions/new" %>
                  </div>

                  <div id="signup_box" class="boxes">
                    <%= render :template => "devise/registrations/new" %>
                  </div>
                  <div id="forgot_box" class="boxes">
                    <%= render :template => "devise/passwords/new" %>
                  </div>

                </div>

                </div>


<!-- set the container hidden to avoid a flash of unstyled content
when the page first loads -->
<div id="notificationcontainer" style="display:none">

    <!--
    Later on, you can choose which template to use by referring to the
    ID assigned to each template.  Alternatively, you could refer
    to each template by index, so in this example, "basic-tempate" is
    index 0 and "advanced-template" is index 1.
    -->
    <div id="simple_notification">
        <a class="ui-notify-cross ui-notify-close" href="#">x</a>
        <h1><i class="action icon-envelope icon-white"></i> #{title}</h1>
        <p>#{text}</p>
    </div>

     <div id="new_message_notification">
        <a class="ui-notify-cross ui-notify-close" href="#">x</a>
        <h1><i class="action icon-envelope icon-white"></i> You have a new message from #{username}</h1>
        <p style="margin:10px;">#{msg}</p>
    </div>

     <div id="new_item_notification">
        <a class="ui-notify-cross ui-notify-close" href="#">x</a>
        <h1><i class="action icon-envelope icon-white"></i> You have a listed a new item #{title}</h1>
        <p style="margin:10px;">#{msg}</p>
    </div>


</div>

