


  <div id="user_bar">
    <div id="user_bar_holder" class="container">
    <div class="pull-left">
      <%#= render "/p2p/index/scat_menu"  ,:dropdown => true %>
      <!-- <div style="width:100%">Welcome, <%#= current_user.name %></div> -->
    </div>
    <div class="pull-right span4">
        <% if p2p_current_user %>
          <div id="menuSet" class="span4 pull-right">
          <% if params[:action] == 'index'  and params[:controller]== 'p2p/messages'%>
              <li class="head_active action-icon" title="Messages" data-placement="bottom">
                <% unread_count = (p2p_current_user.nil?) ? 0 :  p2p_current_user.received_messages.inbox.unread.count %>

                <a href="/p2p/messages">
                  <span id="header_msg_count"> <%= unread_count if  unread_count > 0  %> </span>
                  <span class="" ><i class=" dashboard_icon icon-envelope"></i></span>
                </a>
              </li>

          <% else %>
              <li class="action-icon" title="Messages" data-placement="bottom">
                <% unread_count = (p2p_current_user.nil?) ? 0 :  p2p_current_user.received_messages.inbox.unread.count %>
                <a href="/p2p/messages" >
                  <span id="header_msg_count"> <%= unread_count if  unread_count > 0  %> </span>
                  <span class="" ><i class=" dashboard_icon icon-envelope"></i></span>
                </a>
              </li>
          <% end %>

          <% if params[:action] == 'dashboard' %>
            <li class="head_active action-icon" title="Dashboard" data-placement="bottom">
              <a href="/p2p/dashboard"><i class=" dashboard_icon icon-dashboard"></i></a></li>
          <% else %>
            <li class=" action-icon" title="Dashboard" data-placement="bottom"><a href="/p2p/dashboard"><i class=" dashboard_icon icon-dashboard"></i></a></li>
          <% end %>


          <% if params[:action] == 'new'  and params[:controller]== 'p2p/items'%>
            <li class="head_active action-icon" title="List New Item" data-placement="bottom"><a href="/p2p/sellitem"><i class=" dashboard_icon icon-file-alt"></i></a></li>
          <% else %>
            <li class=" action-icon" title="List New Item" data-placement="bottom"><a href="/p2p/sellitem"><i class=" dashboard_icon icon-file-alt"></i></a></li>
          <% end %>

          <li class=" action-icon" title="Sign out" data-placement="bottom">
            <%= link_to "<i class='signout_icon icon-signout'></i>".html_safe, destroy_user_session_path, :method => :delete %>
          </li>
          </div>
          <% end %>
    </div>
    <div class="clearfix"></div>
      <form method="get" id="item_search_form" action="/p2p/search/q/">
        <div class="row search_bar">
          <input id="top_search_input" type="text" class="span6" name="query" placeholder="What are you looking for" value="<%= (params.has_key?(:query) ? params[:query] : '')%>">
          <%=select_tag "category" ,options_for_select( P2p::Category.all.collect{|cate|  [cate.name,cate.id]}),:prompt=>"All categories",:class=>"span2"%>
          <a class='btn search_btn'><span> Search <i class="icon-search"></i></span></a>
        </div>
        <input type="hidden" id ="user_city" value ="<%= (session.has_key?(:city_id)) ? session[:city_id] : "" %>">
      </form>
    <div class="clear"></div>
  </div>
</div>