<h4>Update Shipping</h4>

<div>
	<h5>Books Ordered <i><small>(which are not yet shipped)</small></i></h5>
	<% @book_orders.each do	|book_order| %>
		<div>
			<input type="checkbox" id="book_order_<%= book_order.id %>" class="book_order_checkbox" value="<%= book_order.shipped %>">
			<label for="book_order_<%= book_order.id %>" style="display:inline;"><%= book_order.book.name %></label>
		</div>
	<% end %>
	<br/>
	<div>
		<p><input type="text" id="courier_name" placeholder="Courier"></p>
		<p><input type="text" id="tracking_number" placeholder="Tracking number"></p>
		<p><input type="submit" class="btn btn-success" value="Shipped" id="update_shipping"> <a class="btn btn-success" id="print_shipped">Print Invoice</a></p>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){

		window.book_orders = new Array();

		$("#update_shipping").click(function(){
			var url = "/cb_admin/order/" + <%= raw @object.id %> + "/shipping";
			$.ajax(url, {
				type:"post",
				async:true,
				data:{
					tracking_number: $("#tracking_number").val(),
					courier_name: $("#courier_name").val(),
					book_orders: JSON.stringify(window.book_orders),
				},
				success: function(){
					window.location.href = "/cb_admin/order/" + <%= raw @object.id %>;
				}
			});
		});

		$(".book_order_checkbox").change(function(){
			book_order_id = parseInt(this.id.replace("book_order_",""));
			if ($(this).attr("checked"))
				window.book_orders.push(book_order_id);
			else
				window.book_orders.pop(book_order_id);
		});
	});
</script>