<div id="static_page_dialog" class="font-dialog">

	<% pricing = StaticPage.where(:page_name => "pricing").first %>
	<div id="pricing_page" title="<%= pricing.page_title %>" class="sub">
		<div><%= raw pricing.page_content %></div>
	</div>

	<% about_us = StaticPage.where(:page_name => "about_us").first %>
	<div id="about_us_page" title="<%= about_us.page_title %>" class="sub">
	  <div><%= raw about_us.page_content %></div>
	</div>

	<% teams = StaticPage.where(:page_name => "teams").first %>
	<div id="teams_page" title="<%= teams.page_title %>" class="sub">
	  <div><%= raw teams.page_content %></div>
	</div>

	<% careers = StaticPage.where(:page_name => "careers").first %>
	<div id="careers_page" title="<%= careers.page_title %>" class="sub">
	  <div><%= raw careers.page_content %></div>
	</div>

	<% contact_us = StaticPage.where(:page_name => "contact_us").first %>
	<div id="contact_us_page" title="<%= contact_us.page_title %>" class="sub">	
	  <div><%= raw contact_us.page_content %></div>
	</div>

	<% product_tour = StaticPage.where(:page_name => "product_tour").first %>
	<div id="product_tour_page" title="<%= product_tour.page_title %>" class="sub">
	  <div><%= raw product_tour.page_content %></div>
	</div>

	<% features = StaticPage.where(:page_name => "features").first %>
	<div id="features_page" title="<%= features.page_title %>" class="sub">
	  <div><%= raw features.page_content %></div>
	</div>

	<% colleges = StaticPage.where(:page_name => "colleges").first %>
	<div id="colleges_page" title="<%= colleges.page_title %>" class="sub">
	  <div>
	  	<table class="table table-bordered">
	  		<thead>
          <tr>
            <th>#</th>
            <th>Ambassador Name</th>
            <th>Ambassador College</th>
           </tr>
         </thead>
	  		<tbody>
			  	<% @ambas = Ambassador.includes(:colleges).all%>
			  	<% c = 0 %>
			  	<% @ambas.each do |a|%>
				  	<tr>
				  		<td><%= c+=1 %></td>
				  		<td><%= a.ambassador_manager.name %></td>
				  		<td><% a.colleges.each do |college| %>
				  			<%= college.name %><br>
				  		<% end %>
				  		</td>
				  	</tr>
			  	<% end %>
	  	</tbody>
	  </table>
	  </div>
	</div>
	
	<% faq = StaticPage.where(:page_name => "faq").first %>
	<div id="faq_page" title="<%= faq.page_title %>" class="sub">
	  <div><%= raw faq.page_content %></div>
	</div>

	<% terms_of_use = StaticPage.where(:page_name => "terms_of_use").first %>
	<div id="terms_of_use_page" title="<%= terms_of_use.page_title %>" class="sub">
	  <div><%= raw terms_of_use.page_content %></div>
	</div>

	<% privacy_policy = StaticPage.where(:page_name => "privacy_policy").first %>
	<div id="privacy_policy_page" title="<%= privacy_policy.page_title %>" class="sub">
	  <div><%= raw privacy_policy.page_content %></div>
	</div>
</div>