<!DOCTYPE html>
<html>
<head>
  <title>Sociorent</title>
  <%= stylesheet_link_tag    "global/application", :media => "all" %>
  <%= javascript_include_tag "global/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Header -->
  <div class="topbar">
    <div class="wrapper">
      <div class="grid_1">
        <a class="left logo" href="/"><h1>sociorent</h1></a>
        <div class="topbar_right right">
          <nav class="main_nav right">
            <ul>
              <li><a href="#pricing_page" class="static_page_dialog_open">PRICING</a></li>
              <li><a href="#universities" class="open_university">UNIVERSITIES</a></li>
              <li><a href="http://www.blog.sociorent.in">BLOG</a></li>
              <% if current_user %>
                <li><a class="selected" id="my_account_button">MY ACCOUNT</a></li>
              <% else %>
                <li><a class="selected open_login_popup" href="#" id="login_box_button">LOGIN</a></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="cB"></div>
  </div>

    <div><%= alert %></div>
    <div><%= notice %></div>

  <%= yield %>
  <div id="university_dialog">
    <% logos=General.first.images %>
    <% if logos%>
      <ul class="university_logos">
        <% logos.each do |logo| %>
          <li><img src="<%= logo.image %>"></li>
        <% end %>
      </ul>
    <% else %>
      <p>No more logo of universities </p>
    <% end %>

  </div>
  <%= render :partial => "/static_page_dialog" %>

</body>
</html>