<!DOCTYPE html>
<html>
<head>
  <title>Sociorent</title>
  <%= stylesheet_link_tag    "global/application", :media => "all" %>
  <%= javascript_include_tag "global/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="rails_notice"><%= notice %></p>
  <p class="rails_alert"><%= alert %></p>

  <!-- Header -->
  <div id="header_fixed">
    <div id="header">
      <div class="left">
        socio rent
      </div>
      <div class="right">
        <div>Universities</div>
        <div>Pricing</div>
        <div>Blog</div>
        <div id="resources_button">Resources</div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div id="resources_dialog">
    this is resource dialog
  </div>
  
  <%= yield %>

</body>
</html>