<!DOCTYPE html>
<html>
<head>
  <title>Sociorent</title>
  <%= stylesheet_link_tag    "global/application", :media => "all" %>
  <%= javascript_include_tag "global/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="rails_notice"><%= notice %></p>
  <p class="rails_alert"><%= alert %></p>

  <!-- Header -->
  <div id="header_fixed">
    <div id="header">
      <div class="left">
        <a href="/">socio rent</a>
      </div>
      <div class="right">
        <div>Universities</div>
        <div>Pricing</div>
        <div>Blog</div>
        <div id="resources_button">Resources</div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  
  <%= yield %>

  <div id="resources_dialog">
    <div id="resources">
      <% Resource.all.each do |res| %>
        <a class="resource_single" href="<%= res.link %>" target="_blank">
          <div>
            <img src="<%= res.image.image %>"/>
          </div>
          <div><%= res.name %></div>
        </a>
      <% end %>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      $(".resource_single").click(function(){
        if($(this).attr("href") == "internships"){
          <% if @user %>
            $("#intership_dialog").dialog("open");
            $("#resources_dialog").dialog("close");
            return false;
          <% else %>
            window.location.href = "/users/sign_in"
            return false;
          <% end %>
        }
      });
    });
  </script>

</body>
</html>